schema urn:oasis:names:specification:ubl:schema:xsd:Invoice-2 (elementFormDefault=qualified)
  xmlns = urn:oasis:names:specification:ubl:schema:xsd:Invoice-2
  ns cac = urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2
  ns cbc = urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2
  ns ccts = urn:un:unece:uncefact:documentation:2
  ns ext = urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2
  import urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2 from ../common/UBL-CommonAggregateComponents-2.1.xsd
  import urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2 from ../common/UBL-CommonBasicComponents-2.1.xsd
  import urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2 from ../common/UBL-CommonExtensionComponents-2.1.xsd
  element Invoice : InvoiceType
  type InvoiceType
    // A document used to request payment.
    ref ext:UBLExtensions ?
      // A container for all extensions present in the document.
    ref cbc:UBLVersionID ?
      // Identifies the earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.
    ref cbc:CustomizationID ?
      // Identifies a user-defined customization of UBL for a specific use.
    ref cbc:ProfileID ?
      // Identifies a user-defined profile of the customization of UBL being used.
    ref cbc:ProfileExecutionID ?
      // Identifies an instance of executing a profile, to associate all transactions in a collaboration.
    ref cbc:ID
      // An identifier for this document, assigned by the sender.
    ref cbc:CopyIndicator ?
      // Indicates whether this document is a copy (true) or not (false).
    ref cbc:UUID ?
      // A universally unique identifier for an instance of this document.
    ref cbc:IssueDate
      // The date, assigned by the sender, on which this document was issued.
    ref cbc:IssueTime ?
      // The time, assigned by the sender, at which this document was issued.
    ref cbc:DueDate ?
      // The date on which Invoice is due.
    ref cbc:InvoiceTypeCode ?
      // A code signifying the type of the Invoice.
    ref cbc:Note *
      // Free-form text pertinent to this document, conveying information that is not contained explicitly in other structures.
    ref cbc:TaxPointDate ?
      // The date of the Invoice, used to indicate the point at which tax becomes applicable.
    ref cbc:DocumentCurrencyCode ?
      // A code signifying the default currency for this document.
    ref cbc:TaxCurrencyCode ?
      // A code signifying the currency used for tax amounts in the Invoice.
    ref cbc:PricingCurrencyCode ?
      // A code signifying the currency used for prices in the Invoice.
    ref cbc:PaymentCurrencyCode ?
      // A code signifying the currency used for payment in the Invoice.
    ref cbc:PaymentAlternativeCurrencyCode ?
      // A code signifying the alternative currency used for payment in the Invoice.
    ref cbc:AccountingCostCode ?
      // The buyer's accounting code, applied to the Invoice as a whole.
    ref cbc:AccountingCost ?
      // The buyer's accounting code, applied to the Invoice as a whole, expressed as text.
    ref cbc:LineCountNumeric ?
      // The number of lines in the document.
    ref cbc:BuyerReference ?
      // A reference provided by the buyer used for internal routing of the document.
    ref cac:InvoicePeriod *
      // A period to which the Invoice applies.
    ref cac:OrderReference ?
      // A reference to the Order with which this Invoice is associated.
    ref cac:BillingReference *
      // A reference to a billing document associated with this document.
    ref cac:DespatchDocumentReference *
      // A reference to a Despatch Advice associated with this document.
    ref cac:ReceiptDocumentReference *
      // A reference to a Receipt Advice associated with this document.
    ref cac:StatementDocumentReference *
      // A reference to a Statement associated with this document.
    ref cac:OriginatorDocumentReference *
      // A reference to an originator document associated with this document.
    ref cac:ContractDocumentReference *
      // A reference to a contract associated with this document.
    ref cac:AdditionalDocumentReference *
      // A reference to an additional document associated with this document.
    ref cac:ProjectReference *
      // Information about a project.
    ref cac:Signature *
      // A signature applied to this document.
    ref cac:AccountingSupplierParty
      // The accounting supplier party.
    ref cac:AccountingCustomerParty
      // The accounting customer party.
    ref cac:PayeeParty ?
      // The payee.
    ref cac:BuyerCustomerParty ?
      // The buyer.
    ref cac:SellerSupplierParty ?
      // The seller.
    ref cac:TaxRepresentativeParty ?
      // The tax representative.
    ref cac:Delivery *
      // A delivery associated with this document.
    ref cac:DeliveryTerms ?
      // A set of delivery terms associated with this document.
    ref cac:PaymentMeans *
      // Expected means of payment.
    ref cac:PaymentTerms *
      // A set of payment terms associated with this document.
    ref cac:PrepaidPayment *
      // A prepaid payment.
    ref cac:AllowanceCharge *
      // A discount or charge that applies to a price component.
    ref cac:TaxExchangeRate ?
      // The exchange rate between the document currency and the tax currency.
    ref cac:PricingExchangeRate ?
      // The exchange rate between the document currency and the pricing currency.
    ref cac:PaymentExchangeRate ?
      // The exchange rate between the document currency and the payment currency.
    ref cac:PaymentAlternativeExchangeRate ?
      // The exchange rate between the document currency and the payment alternative currency.
    ref cac:TaxTotal *
      // The total amount of a specific type of tax.
    ref cac:WithholdingTaxTotal *
      // The total withholding tax.
    ref cac:LegalMonetaryTotal
      // The total amount payable on the Invoice, including Allowances, Charges, and Taxes.
    ref cac:InvoiceLine +
      // A line describing an invoice item.
