schema urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2 (elementFormDefault=qualified)
  xmlns = urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2
  ns ccts = urn:un:unece:uncefact:documentation:2
  ns udt = urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2
  import urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2 from UBL-UnqualifiedDataTypes-2.1.xsd
