root(xmlns="http://example.com/default", xmlns:custom="http://example.com/custom", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance")
  item(custom:id="1", custom:type="product")
    name = Default Namespace Item
    custom:metadata
      custom:category = electronics
      custom:tags
        custom:tag = mobile
        custom:tag = smartphone
  custom:special-item(xsi:type="custom:SpecialType")
    custom:properties
      custom:property(name="color", value="blue")
      custom:property(name="size", value="large")
