schema urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2 (elementFormDefault=qualified)
  element UBLVersionID : cbc:UBLVersionIDType
  element CustomizationID : cbc:CustomizationIDType
  element ProfileID : xsd:string
    | urn:www.cenbii.eu:profile:bii04:ver1.0
    | urn:www.cenbii.eu:profile:bii05:ver1.0
  type UBLVersionIDType extends xsd:string
    @any ##any (skip)
  type CustomizationID : xsd:string
    | urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0::2.0
    | urn:www.cenbii.eu:transaction:biicoretrdm015:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0::2.0
    | urn:oasis:names:specification:ubl:schema:xsd:Invoice-2::Invoice##urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0::2.0
    | urn:oasis:names:specification:ubl:schema:xsd:Invoice-2::Invoice##urn:www.cenbii.eu:transaction:biicoretrdm015:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0::2.0
  type CustomizationIDType extends cbc:CustomizationID
    @schemeID : xsd:normalizedString
    @schemeName : xsd:string
    @schemeAgencyID : xsd:normalizedString
    @schemeAgencyName : xsd:string
    @schemeVersionID : xsd:normalizedString
    @schemeDataURI : xsd:anyURI
    @schemeURI : xsd:anyURI
