schema urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2 (elementFormDefault=qualified)
  import urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2 from UBL-QualifiedDataTypes-2.1.xsd
  import urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2 from UBL-UnqualifiedDataTypes-2.1.xsd
  element AcceptedIndicator : AcceptedIndicatorType
  element AcceptedVariantsDescription : AcceptedVariantsDescriptionType
  element AccountFormatCode : AccountFormatCodeType
  element AccountID : AccountIDType
  element AccountTypeCode : AccountTypeCodeType
  element AccountingCost : AccountingCostType
  element AccountingCostCode : AccountingCostCodeType
  element ActionCode : ActionCodeType
  element ActivityType : ActivityTypeType
  element ActivityTypeCode : ActivityTypeCodeType
  element ActualDeliveryDate : ActualDeliveryDateType
  element ActualDeliveryTime : ActualDeliveryTimeType
  element ActualDespatchDate : ActualDespatchDateType
  element ActualDespatchTime : ActualDespatchTimeType
  element ActualPickupDate : ActualPickupDateType
  element ActualPickupTime : ActualPickupTimeType
  element ActualTemperatureReductionQuantity : ActualTemperatureReductionQuantityType
  element AdValoremIndicator : AdValoremIndicatorType
  element AdditionalAccountID : AdditionalAccountIDType
  element AdditionalConditions : AdditionalConditionsType
  element AdditionalInformation : AdditionalInformationType
  element AdditionalStreetName : AdditionalStreetNameType
  element AddressFormatCode : AddressFormatCodeType
  element AddressTypeCode : AddressTypeCodeType
  element AdjustmentReasonCode : AdjustmentReasonCodeType
  element AdmissionCode : AdmissionCodeType
  element AdvertisementAmount : AdvertisementAmountType
  element AgencyID : AgencyIDType
  element AgencyName : AgencyNameType
  element AirFlowPercent : AirFlowPercentType
  element AircraftID : AircraftIDType
  element AliasName : AliasNameType
  element AllowanceChargeReason : AllowanceChargeReasonType
  element AllowanceChargeReasonCode : AllowanceChargeReasonCodeType
  element AllowanceTotalAmount : AllowanceTotalAmountType
  element AltitudeMeasure : AltitudeMeasureType
  element Amount : AmountType
  element AmountRate : AmountRateType
  element AnimalFoodApprovedIndicator : AnimalFoodApprovedIndicatorType
  element AnimalFoodIndicator : AnimalFoodIndicatorType
  element AnnualAverageAmount : AnnualAverageAmountType
  element ApplicationStatusCode : ApplicationStatusCodeType
  element ApprovalDate : ApprovalDateType
  element ApprovalStatus : ApprovalStatusType
  element AttributeID : AttributeIDType
  element AuctionConstraintIndicator : AuctionConstraintIndicatorType
  element AuctionURI : AuctionURIType
  element AvailabilityDate : AvailabilityDateType
  element AvailabilityStatusCode : AvailabilityStatusCodeType
  element AverageAmount : AverageAmountType
  element AverageSubsequentContractAmount : AverageSubsequentContractAmountType
  element AwardDate : AwardDateType
  element AwardTime : AwardTimeType
  element AwardingCriterionDescription : AwardingCriterionDescriptionType
  element AwardingCriterionID : AwardingCriterionIDType
  element AwardingCriterionTypeCode : AwardingCriterionTypeCodeType
  element AwardingMethodTypeCode : AwardingMethodTypeCodeType
  element BackOrderAllowedIndicator : BackOrderAllowedIndicatorType
  element BackorderQuantity : BackorderQuantityType
  element BackorderReason : BackorderReasonType
  element BalanceAmount : BalanceAmountType
  element BalanceBroughtForwardIndicator : BalanceBroughtForwardIndicatorType
  element BarcodeSymbologyID : BarcodeSymbologyIDType
  element BaseAmount : BaseAmountType
  element BaseQuantity : BaseQuantityType
  element BaseUnitMeasure : BaseUnitMeasureType
  element BasedOnConsensusIndicator : BasedOnConsensusIndicatorType
  element BasicConsumedQuantity : BasicConsumedQuantityType
  element BatchQuantity : BatchQuantityType
  element BestBeforeDate : BestBeforeDateType
  element BindingOnBuyerIndicator : BindingOnBuyerIndicatorType
  element BirthDate : BirthDateType
  element BirthplaceName : BirthplaceNameType
  element BlockName : BlockNameType
  element BrandName : BrandNameType
  element BrokerAssignedID : BrokerAssignedIDType
  element BudgetYearNumeric : BudgetYearNumericType
  element BuildingName : BuildingNameType
  element BuildingNumber : BuildingNumberType
  element BulkCargoIndicator : BulkCargoIndicatorType
  element BusinessClassificationEvidenceID : BusinessClassificationEvidenceIDType
  element BusinessIdentityEvidenceID : BusinessIdentityEvidenceIDType
  element BuyerEventID : BuyerEventIDType
  element BuyerProfileURI : BuyerProfileURIType
  element BuyerReference : BuyerReferenceType
  element CV2ID : CV2IDType
  element CalculationExpression : CalculationExpressionType
  element CalculationExpressionCode : CalculationExpressionCodeType
  element CalculationMethodCode : CalculationMethodCodeType
  element CalculationRate : CalculationRateType
  element CalculationSequenceNumeric : CalculationSequenceNumericType
  element CallBaseAmount : CallBaseAmountType
  element CallDate : CallDateType
  element CallExtensionAmount : CallExtensionAmountType
  element CallTime : CallTimeType
  element CancellationNote : CancellationNoteType
  element CandidateReductionConstraintIndicator : CandidateReductionConstraintIndicatorType
  element CandidateStatement : CandidateStatementType
  element CanonicalizationMethod : CanonicalizationMethodType
  element CapabilityTypeCode : CapabilityTypeCodeType
  element CardChipCode : CardChipCodeType
  element CardTypeCode : CardTypeCodeType
  element CargoTypeCode : CargoTypeCodeType
  element CarrierAssignedID : CarrierAssignedIDType
  element CarrierServiceInstructions : CarrierServiceInstructionsType
  element CatalogueIndicator : CatalogueIndicatorType
  element CategoryName : CategoryNameType
  element CertificateType : CertificateTypeType
  element CertificateTypeCode : CertificateTypeCodeType
  element ChangeConditions : ChangeConditionsType
  element Channel : ChannelType
  element ChannelCode : ChannelCodeType
  element CharacterSetCode : CharacterSetCodeType
  element Characteristics : CharacteristicsType
  element ChargeIndicator : ChargeIndicatorType
  element ChargeTotalAmount : ChargeTotalAmountType
  element ChargeableQuantity : ChargeableQuantityType
  element ChargeableWeightMeasure : ChargeableWeightMeasureType
  element ChildConsignmentQuantity : ChildConsignmentQuantityType
  element ChipApplicationID : ChipApplicationIDType
  element CityName : CityNameType
  element CitySubdivisionName : CitySubdivisionNameType
  element CodeValue : CodeValueType
  element CollaborationPriorityCode : CollaborationPriorityCodeType
  element Comment : CommentType
  element CommodityCode : CommodityCodeType
  element CompanyID : CompanyIDType
  element CompanyLegalForm : CompanyLegalFormType
  element CompanyLegalFormCode : CompanyLegalFormCodeType
  element CompanyLiquidationStatusCode : CompanyLiquidationStatusCodeType
  element ComparedValueMeasure : ComparedValueMeasureType
  element ComparisonDataCode : ComparisonDataCodeType
  element ComparisonDataSourceCode : ComparisonDataSourceCodeType
  element ComparisonForecastIssueDate : ComparisonForecastIssueDateType
  element ComparisonForecastIssueTime : ComparisonForecastIssueTimeType
  element CompletionIndicator : CompletionIndicatorType
  element Condition : ConditionType
  element ConditionCode : ConditionCodeType
  element Conditions : ConditionsType
  element ConditionsDescription : ConditionsDescriptionType
  element ConsigneeAssignedID : ConsigneeAssignedIDType
  element ConsignmentQuantity : ConsignmentQuantityType
  element ConsignorAssignedID : ConsignorAssignedIDType
  element ConsolidatableIndicator : ConsolidatableIndicatorType
  element ConstitutionCode : ConstitutionCodeType
  element ConsumerIncentiveTacticTypeCode : ConsumerIncentiveTacticTypeCodeType
  element ConsumerUnitQuantity : ConsumerUnitQuantityType
  element ConsumersEnergyLevel : ConsumersEnergyLevelType
  element ConsumersEnergyLevelCode : ConsumersEnergyLevelCodeType
  element ConsumptionEnergyQuantity : ConsumptionEnergyQuantityType
  element ConsumptionID : ConsumptionIDType
  element ConsumptionLevel : ConsumptionLevelType
  element ConsumptionLevelCode : ConsumptionLevelCodeType
  element ConsumptionReportID : ConsumptionReportIDType
  element ConsumptionType : ConsumptionTypeType
  element ConsumptionTypeCode : ConsumptionTypeCodeType
  element ConsumptionWaterQuantity : ConsumptionWaterQuantityType
  element ContainerizedIndicator : ContainerizedIndicatorType
  element Content : ContentType
  element ContentUnitQuantity : ContentUnitQuantityType
  element ContractFolderID : ContractFolderIDType
  element ContractName : ContractNameType
  element ContractSubdivision : ContractSubdivisionType
  element ContractType : ContractTypeType
  element ContractTypeCode : ContractTypeCodeType
  element ContractedCarrierAssignedID : ContractedCarrierAssignedIDType
  element ContractingSystemCode : ContractingSystemCodeType
  element CoordinateSystemCode : CoordinateSystemCodeType
  element CopyIndicator : CopyIndicatorType
  element CorporateRegistrationTypeCode : CorporateRegistrationTypeCodeType
  element CorporateStockAmount : CorporateStockAmountType
  element CorrectionAmount : CorrectionAmountType
  element CorrectionType : CorrectionTypeType
  element CorrectionTypeCode : CorrectionTypeCodeType
  element CorrectionUnitAmount : CorrectionUnitAmountType
  element CountrySubentity : CountrySubentityType
  element CountrySubentityCode : CountrySubentityCodeType
  element CreditLineAmount : CreditLineAmountType
  element CreditNoteTypeCode : CreditNoteTypeCodeType
  element CreditedQuantity : CreditedQuantityType
  element CrewQuantity : CrewQuantityType
  element CurrencyCode : CurrencyCodeType
  element CurrentChargeType : CurrentChargeTypeType
  element CurrentChargeTypeCode : CurrentChargeTypeCodeType
  element CustomerAssignedAccountID : CustomerAssignedAccountIDType
  element CustomerReference : CustomerReferenceType
  element CustomizationID : CustomizationIDType
  element CustomsClearanceServiceInstructions : CustomsClearanceServiceInstructionsType
  element CustomsImportClassifiedIndicator : CustomsImportClassifiedIndicatorType
  element CustomsStatusCode : CustomsStatusCodeType
  element CustomsTariffQuantity : CustomsTariffQuantityType
  element DamageRemarks : DamageRemarksType
  element DangerousGoodsApprovedIndicator : DangerousGoodsApprovedIndicatorType
  element DataSendingCapability : DataSendingCapabilityType
  element DataSourceCode : DataSourceCodeType
  element Date : DateType
  element DebitLineAmount : DebitLineAmountType
  element DebitedQuantity : DebitedQuantityType
  element DeclarationTypeCode : DeclarationTypeCodeType
  element DeclaredCarriageValueAmount : DeclaredCarriageValueAmountType
  element DeclaredCustomsValueAmount : DeclaredCustomsValueAmountType
  element DeclaredForCarriageValueAmount : DeclaredForCarriageValueAmountType
  element DeclaredStatisticsValueAmount : DeclaredStatisticsValueAmountType
  element DeliveredQuantity : DeliveredQuantityType
  element DeliveryInstructions : DeliveryInstructionsType
  element DemurrageInstructions : DemurrageInstructionsType
  element Department : DepartmentType
  element Description : DescriptionType
  element DescriptionCode : DescriptionCodeType
  element DespatchAdviceTypeCode : DespatchAdviceTypeCodeType
  element DifferenceTemperatureReductionQuantity : DifferenceTemperatureReductionQuantityType
  element DirectionCode : DirectionCodeType
  element DisplayTacticTypeCode : DisplayTacticTypeCodeType
  element DispositionCode : DispositionCodeType
  element District : DistrictType
  element DocumentCurrencyCode : DocumentCurrencyCodeType
  element DocumentDescription : DocumentDescriptionType
  element DocumentHash : DocumentHashType
  element DocumentID : DocumentIDType
  element DocumentStatusCode : DocumentStatusCodeType
  element DocumentStatusReasonCode : DocumentStatusReasonCodeType
  element DocumentStatusReasonDescription : DocumentStatusReasonDescriptionType
  element DocumentType : DocumentTypeType
  element DocumentTypeCode : DocumentTypeCodeType
  element DocumentationFeeAmount : DocumentationFeeAmountType
  element DueDate : DueDateType
  element DurationMeasure : DurationMeasureType
  element Duty : DutyType
  element DutyCode : DutyCodeType
  element EarliestPickupDate : EarliestPickupDateType
  element EarliestPickupTime : EarliestPickupTimeType
  element EconomicOperatorRegistryURI : EconomicOperatorRegistryURIType
  element EffectiveDate : EffectiveDateType
  element EffectiveTime : EffectiveTimeType
  element ElectronicDeviceDescription : ElectronicDeviceDescriptionType
  element ElectronicMail : ElectronicMailType
  element EmbeddedDocumentBinaryObject : EmbeddedDocumentBinaryObjectType
  element EmergencyProceduresCode : EmergencyProceduresCodeType
  element EmployeeQuantity : EmployeeQuantityType
  element EncodingCode : EncodingCodeType
  element EndDate : EndDateType
  element EndTime : EndTimeType
  element EndpointID : EndpointIDType
  element EnvironmentalEmissionTypeCode : EnvironmentalEmissionTypeCodeType
  element EstimatedAmount : EstimatedAmountType
  element EstimatedConsumedQuantity : EstimatedConsumedQuantityType
  element EstimatedDeliveryDate : EstimatedDeliveryDateType
  element EstimatedDeliveryTime : EstimatedDeliveryTimeType
  element EstimatedDespatchDate : EstimatedDespatchDateType
  element EstimatedDespatchTime : EstimatedDespatchTimeType
  element EstimatedOverallContractAmount : EstimatedOverallContractAmountType
  element EstimatedOverallContractQuantity : EstimatedOverallContractQuantityType
  element EvaluationCriterionTypeCode : EvaluationCriterionTypeCodeType
  element EvidenceTypeCode : EvidenceTypeCodeType
  element ExceptionResolutionCode : ExceptionResolutionCodeType
  element ExceptionStatusCode : ExceptionStatusCodeType
  element ExchangeMarketID : ExchangeMarketIDType
  element ExclusionReason : ExclusionReasonType
  element ExecutionRequirementCode : ExecutionRequirementCodeType
  element ExemptionReason : ExemptionReasonType
  element ExemptionReasonCode : ExemptionReasonCodeType
  element ExpectedOperatorQuantity : ExpectedOperatorQuantityType
  element ExpectedQuantity : ExpectedQuantityType
  element ExpenseCode : ExpenseCodeType
  element ExpiryDate : ExpiryDateType
  element ExpiryTime : ExpiryTimeType
  element Expression : ExpressionType
  element ExpressionCode : ExpressionCodeType
  element ExtendedID : ExtendedIDType
  element Extension : ExtensionType
  element FaceValueAmount : FaceValueAmountType
  element FamilyName : FamilyNameType
  element FeatureTacticTypeCode : FeatureTacticTypeCodeType
  element FeeAmount : FeeAmountType
  element FeeDescription : FeeDescriptionType
  element FileName : FileNameType
  element FinancingInstrumentCode : FinancingInstrumentCodeType
  element FirstName : FirstNameType
  element FirstShipmentAvailibilityDate : FirstShipmentAvailibilityDateType
  element Floor : FloorType
  element FollowupContractIndicator : FollowupContractIndicatorType
  element ForecastPurposeCode : ForecastPurposeCodeType
  element ForecastTypeCode : ForecastTypeCodeType
  element FormatCode : FormatCodeType
  element ForwarderServiceInstructions : ForwarderServiceInstructionsType
  element FreeOfChargeIndicator : FreeOfChargeIndicatorType
  element FreeOnBoardValueAmount : FreeOnBoardValueAmountType
  element FreightForwarderAssignedID : FreightForwarderAssignedIDType
  element FreightRateClassCode : FreightRateClassCodeType
  element Frequency : FrequencyType
  element FrozenDocumentIndicator : FrozenDocumentIndicatorType
  element FrozenPeriodDaysNumeric : FrozenPeriodDaysNumericType
  element FullnessIndicationCode : FullnessIndicationCodeType
  element FullyPaidSharesIndicator : FullyPaidSharesIndicatorType
  element FundingProgram : FundingProgramType
  element FundingProgramCode : FundingProgramCodeType
  element GasPressureQuantity : GasPressureQuantityType
  element GenderCode : GenderCodeType
  element GeneralCargoIndicator : GeneralCargoIndicatorType
  element GovernmentAgreementConstraintIndicator : GovernmentAgreementConstraintIndicatorType
  element GrossTonnageMeasure : GrossTonnageMeasureType
  element GrossVolumeMeasure : GrossVolumeMeasureType
  element GrossWeightMeasure : GrossWeightMeasureType
  element GuaranteeTypeCode : GuaranteeTypeCodeType
  element GuaranteedDespatchDate : GuaranteedDespatchDateType
  element GuaranteedDespatchTime : GuaranteedDespatchTimeType
  element HandlingCode : HandlingCodeType
  element HandlingInstructions : HandlingInstructionsType
  element HashAlgorithmMethod : HashAlgorithmMethodType
  element HaulageInstructions : HaulageInstructionsType
  element HazardClassID : HazardClassIDType
  element HazardousCategoryCode : HazardousCategoryCodeType
  element HazardousRegulationCode : HazardousRegulationCodeType
  element HazardousRiskIndicator : HazardousRiskIndicatorType
  element HeatingType : HeatingTypeType
  element HeatingTypeCode : HeatingTypeCodeType
  element HigherTenderAmount : HigherTenderAmountType
  element HolderName : HolderNameType
  element HumanFoodApprovedIndicator : HumanFoodApprovedIndicatorType
  element HumanFoodIndicator : HumanFoodIndicatorType
  element HumidityPercent : HumidityPercentType
  element ID : IDType
  element IdentificationCode : IdentificationCodeType
  element IdentificationID : IdentificationIDType
  element ImmobilizationCertificateID : ImmobilizationCertificateIDType
  element ImportanceCode : ImportanceCodeType
  element IndicationIndicator : IndicationIndicatorType
  element IndustryClassificationCode : IndustryClassificationCodeType
  element Information : InformationType
  element InformationURI : InformationURIType
  element InhalationToxicityZoneCode : InhalationToxicityZoneCodeType
  element InhouseMail : InhouseMailType
  element InspectionMethodCode : InspectionMethodCodeType
  element InstallmentDueDate : InstallmentDueDateType
  element InstructionID : InstructionIDType
  element InstructionNote : InstructionNoteType
  element Instructions : InstructionsType
  element InsurancePremiumAmount : InsurancePremiumAmountType
  element InsuranceValueAmount : InsuranceValueAmountType
  element InventoryValueAmount : InventoryValueAmountType
  element InvoiceTypeCode : InvoiceTypeCodeType
  element InvoicedQuantity : InvoicedQuantityType
  element InvoicingPartyReference : InvoicingPartyReferenceType
  element IssueDate : IssueDateType
  element IssueNumberID : IssueNumberIDType
  element IssueTime : IssueTimeType
  element IssuerID : IssuerIDType
  element ItemClassificationCode : ItemClassificationCodeType
  element ItemUpdateRequestIndicator : ItemUpdateRequestIndicatorType
  element JobTitle : JobTitleType
  element JourneyID : JourneyIDType
  element Justification : JustificationType
  element JustificationDescription : JustificationDescriptionType
  element Keyword : KeywordType
  element LanguageID : LanguageIDType
  element LastRevisionDate : LastRevisionDateType
  element LastRevisionTime : LastRevisionTimeType
  element LatestDeliveryDate : LatestDeliveryDateType
  element LatestDeliveryTime : LatestDeliveryTimeType
  element LatestMeterQuantity : LatestMeterQuantityType
  element LatestMeterReadingDate : LatestMeterReadingDateType
  element LatestMeterReadingMethod : LatestMeterReadingMethodType
  element LatestMeterReadingMethodCode : LatestMeterReadingMethodCodeType
  element LatestPickupDate : LatestPickupDateType
  element LatestPickupTime : LatestPickupTimeType
  element LatestProposalAcceptanceDate : LatestProposalAcceptanceDateType
  element LatestSecurityClearanceDate : LatestSecurityClearanceDateType
  element LatitudeDegreesMeasure : LatitudeDegreesMeasureType
  element LatitudeDirectionCode : LatitudeDirectionCodeType
  element LatitudeMinutesMeasure : LatitudeMinutesMeasureType
  element LeadTimeMeasure : LeadTimeMeasureType
  element LegalReference : LegalReferenceType
  element LegalStatusIndicator : LegalStatusIndicatorType
  element LiabilityAmount : LiabilityAmountType
  element LicensePlateID : LicensePlateIDType
  element LifeCycleStatusCode : LifeCycleStatusCodeType
  element LimitationDescription : LimitationDescriptionType
  element Line : LineType
  element LineCountNumeric : LineCountNumericType
  element LineExtensionAmount : LineExtensionAmountType
  element LineID : LineIDType
  element LineNumberNumeric : LineNumberNumericType
  element LineStatusCode : LineStatusCodeType
  element ListValue : ListValueType
  element LivestockIndicator : LivestockIndicatorType
  element LoadingLengthMeasure : LoadingLengthMeasureType
  element LoadingSequenceID : LoadingSequenceIDType
  element LocaleCode : LocaleCodeType
  element Location : LocationType
  element LocationID : LocationIDType
  element LocationTypeCode : LocationTypeCodeType
  element Login : LoginType
  element LogoReferenceID : LogoReferenceIDType
  element LongitudeDegreesMeasure : LongitudeDegreesMeasureType
  element LongitudeDirectionCode : LongitudeDirectionCodeType
  element LongitudeMinutesMeasure : LongitudeMinutesMeasureType
  element LossRisk : LossRiskType
  element LossRiskResponsibilityCode : LossRiskResponsibilityCodeType
  element LotNumberID : LotNumberIDType
  element LowTendersDescription : LowTendersDescriptionType
  element LowerOrangeHazardPlacardID : LowerOrangeHazardPlacardIDType
  element LowerTenderAmount : LowerTenderAmountType
  element MandateTypeCode : MandateTypeCodeType
  element ManufactureDate : ManufactureDateType
  element ManufactureTime : ManufactureTimeType
  element MarkAttention : MarkAttentionType
  element MarkAttentionIndicator : MarkAttentionIndicatorType
  element MarkCare : MarkCareType
  element MarkCareIndicator : MarkCareIndicatorType
  element MarketValueAmount : MarketValueAmountType
  element MarkingID : MarkingIDType
  element MathematicOperatorCode : MathematicOperatorCodeType
  element MaximumAdvertisementAmount : MaximumAdvertisementAmountType
  element MaximumAmount : MaximumAmountType
  element MaximumBackorderQuantity : MaximumBackorderQuantityType
  element MaximumCopiesNumeric : MaximumCopiesNumericType
  element MaximumMeasure : MaximumMeasureType
  element MaximumNumberNumeric : MaximumNumberNumericType
  element MaximumOperatorQuantity : MaximumOperatorQuantityType
  element MaximumOrderQuantity : MaximumOrderQuantityType
  element MaximumPaidAmount : MaximumPaidAmountType
  element MaximumPaymentInstructionsNumeric : MaximumPaymentInstructionsNumericType
  element MaximumPercent : MaximumPercentType
  element MaximumQuantity : MaximumQuantityType
  element MaximumValue : MaximumValueType
  element MaximumVariantQuantity : MaximumVariantQuantityType
  element Measure : MeasureType
  element MedicalFirstAidGuideCode : MedicalFirstAidGuideCodeType
  element MeterConstant : MeterConstantType
  element MeterConstantCode : MeterConstantCodeType
  element MeterName : MeterNameType
  element MeterNumber : MeterNumberType
  element MeterReadingComments : MeterReadingCommentsType
  element MeterReadingType : MeterReadingTypeType
  element MeterReadingTypeCode : MeterReadingTypeCodeType
  element MiddleName : MiddleNameType
  element MimeCode : MimeCodeType
  element MinimumAmount : MinimumAmountType
  element MinimumBackorderQuantity : MinimumBackorderQuantityType
  element MinimumImprovementBid : MinimumImprovementBidType
  element MinimumInventoryQuantity : MinimumInventoryQuantityType
  element MinimumMeasure : MinimumMeasureType
  element MinimumNumberNumeric : MinimumNumberNumericType
  element MinimumOrderQuantity : MinimumOrderQuantityType
  element MinimumPercent : MinimumPercentType
  element MinimumQuantity : MinimumQuantityType
  element MinimumValue : MinimumValueType
  element MiscellaneousEventTypeCode : MiscellaneousEventTypeCodeType
  element ModelName : ModelNameType
  element MonetaryScope : MonetaryScopeType
  element MovieTitle : MovieTitleType
  element MultipleOrderQuantity : MultipleOrderQuantityType
  element MultiplierFactorNumeric : MultiplierFactorNumericType
  element Name : NameType
  element NameCode : NameCodeType
  element NameSuffix : NameSuffixType
  element NationalityID : NationalityIDType
  element NatureCode : NatureCodeType
  element NegotiationDescription : NegotiationDescriptionType
  element NetNetWeightMeasure : NetNetWeightMeasureType
  element NetTonnageMeasure : NetTonnageMeasureType
  element NetVolumeMeasure : NetVolumeMeasureType
  element NetWeightMeasure : NetWeightMeasureType
  element NetworkID : NetworkIDType
  element NominationDate : NominationDateType
  element NominationTime : NominationTimeType
  element NormalTemperatureReductionQuantity : NormalTemperatureReductionQuantityType
  element Note : NoteType
  element NotificationTypeCode : NotificationTypeCodeType
  element OccurrenceDate : OccurrenceDateType
  element OccurrenceTime : OccurrenceTimeType
  element OnCarriageIndicator : OnCarriageIndicatorType
  element OneTimeChargeType : OneTimeChargeTypeType
  element OneTimeChargeTypeCode : OneTimeChargeTypeCodeType
  element OntologyURI : OntologyURIType
  element OpenTenderID : OpenTenderIDType
  element OperatingYearsQuantity : OperatingYearsQuantityType
  element OptionalLineItemIndicator : OptionalLineItemIndicatorType
  element OptionsDescription : OptionsDescriptionType
  element OrderIntervalDaysNumeric : OrderIntervalDaysNumericType
  element OrderQuantityIncrementNumeric : OrderQuantityIncrementNumericType
  element OrderResponseCode : OrderResponseCodeType
  element OrderTypeCode : OrderTypeCodeType
  element OrderableIndicator : OrderableIndicatorType
  element OrderableUnit : OrderableUnitType
  element OrderableUnitFactorRate : OrderableUnitFactorRateType
  element OrganizationDepartment : OrganizationDepartmentType
  element OriginalContractingSystemID : OriginalContractingSystemIDType
  element OriginalJobID : OriginalJobIDType
  element OtherConditionsIndicator : OtherConditionsIndicatorType
  element OtherInstruction : OtherInstructionType
  element OtherName : OtherNameType
  element OutstandingQuantity : OutstandingQuantityType
  element OutstandingReason : OutstandingReasonType
  element OversupplyQuantity : OversupplyQuantityType
  element OwnerTypeCode : OwnerTypeCodeType
  element PackLevelCode : PackLevelCodeType
  element PackQuantity : PackQuantityType
  element PackSizeNumeric : PackSizeNumericType
  element PackageLevelCode : PackageLevelCodeType
  element PackagingTypeCode : PackagingTypeCodeType
  element PackingCriteriaCode : PackingCriteriaCodeType
  element PackingMaterial : PackingMaterialType
  element PaidAmount : PaidAmountType
  element PaidDate : PaidDateType
  element PaidTime : PaidTimeType
  element ParentDocumentID : ParentDocumentIDType
  element ParentDocumentLineReferenceID : ParentDocumentLineReferenceIDType
  element ParentDocumentTypeCode : ParentDocumentTypeCodeType
  element ParentDocumentVersionID : ParentDocumentVersionIDType
  element PartPresentationCode : PartPresentationCodeType
  element PartecipationPercent : PartecipationPercentType
  element PartialDeliveryIndicator : PartialDeliveryIndicatorType
  element ParticipationPercent : ParticipationPercentType
  element PartyCapacityAmount : PartyCapacityAmountType
  element PartyType : PartyTypeType
  element PartyTypeCode : PartyTypeCodeType
  element PassengerQuantity : PassengerQuantityType
  element Password : PasswordType
  element PayPerView : PayPerViewType
  element PayableAlternativeAmount : PayableAlternativeAmountType
  element PayableAmount : PayableAmountType
  element PayableRoundingAmount : PayableRoundingAmountType
  element PayerReference : PayerReferenceType
  element PaymentAlternativeCurrencyCode : PaymentAlternativeCurrencyCodeType
  element PaymentChannelCode : PaymentChannelCodeType
  element PaymentCurrencyCode : PaymentCurrencyCodeType
  element PaymentDescription : PaymentDescriptionType
  element PaymentDueDate : PaymentDueDateType
  element PaymentFrequencyCode : PaymentFrequencyCodeType
  element PaymentID : PaymentIDType
  element PaymentMeansCode : PaymentMeansCodeType
  element PaymentMeansID : PaymentMeansIDType
  element PaymentNote : PaymentNoteType
  element PaymentOrderReference : PaymentOrderReferenceType
  element PaymentPercent : PaymentPercentType
  element PaymentPurposeCode : PaymentPurposeCodeType
  element PaymentTermsDetailsURI : PaymentTermsDetailsURIType
  element PenaltyAmount : PenaltyAmountType
  element PenaltySurchargePercent : PenaltySurchargePercentType
  element PerUnitAmount : PerUnitAmountType
  element Percent : PercentType
  element PerformanceMetricTypeCode : PerformanceMetricTypeCodeType
  element PerformanceValueQuantity : PerformanceValueQuantityType
  element PerformingCarrierAssignedID : PerformingCarrierAssignedIDType
  element PersonalSituation : PersonalSituationType
  element PhoneNumber : PhoneNumberType
  element PlacardEndorsement : PlacardEndorsementType
  element PlacardNotation : PlacardNotationType
  element PlannedDate : PlannedDateType
  element PlotIdentification : PlotIdentificationType
  element PositionCode : PositionCodeType
  element PostEventNotificationDurationMeasure : PostEventNotificationDurationMeasureType
  element PostalZone : PostalZoneType
  element Postbox : PostboxType
  element PowerIndicator : PowerIndicatorType
  element PreCarriageIndicator : PreCarriageIndicatorType
  element PreEventNotificationDurationMeasure : PreEventNotificationDurationMeasureType
  element PreferenceCriterionCode : PreferenceCriterionCodeType
  element PrepaidAmount : PrepaidAmountType
  element PrepaidIndicator : PrepaidIndicatorType
  element PrepaidPaymentReferenceID : PrepaidPaymentReferenceIDType
  element PreviousCancellationReasonCode : PreviousCancellationReasonCodeType
  element PreviousJobID : PreviousJobIDType
  element PreviousMeterQuantity : PreviousMeterQuantityType
  element PreviousMeterReadingDate : PreviousMeterReadingDateType
  element PreviousMeterReadingMethod : PreviousMeterReadingMethodType
  element PreviousMeterReadingMethodCode : PreviousMeterReadingMethodCodeType
  element PreviousVersionID : PreviousVersionIDType
  element PriceAmount : PriceAmountType
  element PriceChangeReason : PriceChangeReasonType
  element PriceEvaluationCode : PriceEvaluationCodeType
  element PriceRevisionFormulaDescription : PriceRevisionFormulaDescriptionType
  element PriceType : PriceTypeType
  element PriceTypeCode : PriceTypeCodeType
  element PricingCurrencyCode : PricingCurrencyCodeType
  element PricingUpdateRequestIndicator : PricingUpdateRequestIndicatorType
  element PrimaryAccountNumberID : PrimaryAccountNumberIDType
  element PrintQualifier : PrintQualifierType
  element Priority : PriorityType
  element PrivacyCode : PrivacyCodeType
  element PrizeDescription : PrizeDescriptionType
  element PrizeIndicator : PrizeIndicatorType
  element ProcedureCode : ProcedureCodeType
  element ProcessDescription : ProcessDescriptionType
  element ProcessReason : ProcessReasonType
  element ProcessReasonCode : ProcessReasonCodeType
  element ProcurementSubTypeCode : ProcurementSubTypeCodeType
  element ProcurementTypeCode : ProcurementTypeCodeType
  element ProductTraceID : ProductTraceIDType
  element ProfileExecutionID : ProfileExecutionIDType
  element ProfileID : ProfileIDType
  element ProfileStatusCode : ProfileStatusCodeType
  element ProgressPercent : ProgressPercentType
  element PromotionalEventTypeCode : PromotionalEventTypeCodeType
  element ProviderTypeCode : ProviderTypeCodeType
  element PublishAwardIndicator : PublishAwardIndicatorType
  element Purpose : PurposeType
  element PurposeCode : PurposeCodeType
  element QualityControlCode : QualityControlCodeType
  element Quantity : QuantityType
  element QuantityDiscrepancyCode : QuantityDiscrepancyCodeType
  element RadioCallSignID : RadioCallSignIDType
  element RailCarID : RailCarIDType
  element Rank : RankType
  element Rate : RateType
  element ReceiptAdviceTypeCode : ReceiptAdviceTypeCodeType
  element ReceivedDate : ReceivedDateType
  element ReceivedElectronicTenderQuantity : ReceivedElectronicTenderQuantityType
  element ReceivedForeignTenderQuantity : ReceivedForeignTenderQuantityType
  element ReceivedQuantity : ReceivedQuantityType
  element ReceivedTenderQuantity : ReceivedTenderQuantityType
  element Reference : ReferenceType
  element ReferenceDate : ReferenceDateType
  element ReferenceEventCode : ReferenceEventCodeType
  element ReferenceID : ReferenceIDType
  element ReferenceTime : ReferenceTimeType
  element ReferencedConsignmentID : ReferencedConsignmentIDType
  element RefrigeratedIndicator : RefrigeratedIndicatorType
  element RefrigerationOnIndicator : RefrigerationOnIndicatorType
  element Region : RegionType
  element RegisteredDate : RegisteredDateType
  element RegisteredTime : RegisteredTimeType
  element RegistrationDate : RegistrationDateType
  element RegistrationExpirationDate : RegistrationExpirationDateType
  element RegistrationID : RegistrationIDType
  element RegistrationName : RegistrationNameType
  element RegistrationNationality : RegistrationNationalityType
  element RegistrationNationalityID : RegistrationNationalityIDType
  element RegulatoryDomain : RegulatoryDomainType
  element RejectActionCode : RejectActionCodeType
  element RejectReason : RejectReasonType
  element RejectReasonCode : RejectReasonCodeType
  element RejectedQuantity : RejectedQuantityType
  element RejectionNote : RejectionNoteType
  element ReleaseID : ReleaseIDType
  element ReliabilityPercent : ReliabilityPercentType
  element Remarks : RemarksType
  element ReminderSequenceNumeric : ReminderSequenceNumericType
  element ReminderTypeCode : ReminderTypeCodeType
  element ReplenishmentOwnerDescription : ReplenishmentOwnerDescriptionType
  element RequestForQuotationLineID : RequestForQuotationLineIDType
  element RequestedDeliveryDate : RequestedDeliveryDateType
  element RequestedDespatchDate : RequestedDespatchDateType
  element RequestedDespatchTime : RequestedDespatchTimeType
  element RequestedInvoiceCurrencyCode : RequestedInvoiceCurrencyCodeType
  element RequestedPublicationDate : RequestedPublicationDateType
  element RequiredCurriculaIndicator : RequiredCurriculaIndicatorType
  element RequiredCustomsID : RequiredCustomsIDType
  element RequiredDeliveryDate : RequiredDeliveryDateType
  element RequiredDeliveryTime : RequiredDeliveryTimeType
  element RequiredFeeAmount : RequiredFeeAmountType
  element ResidenceType : ResidenceTypeType
  element ResidenceTypeCode : ResidenceTypeCodeType
  element ResidentOccupantsNumeric : ResidentOccupantsNumericType
  element Resolution : ResolutionType
  element ResolutionCode : ResolutionCodeType
  element ResolutionDate : ResolutionDateType
  element ResolutionTime : ResolutionTimeType
  element ResponseCode : ResponseCodeType
  element ResponseDate : ResponseDateType
  element ResponseTime : ResponseTimeType
  element RetailEventName : RetailEventNameType
  element RetailEventStatusCode : RetailEventStatusCodeType
  element ReturnabilityIndicator : ReturnabilityIndicatorType
  element ReturnableMaterialIndicator : ReturnableMaterialIndicatorType
  element ReturnableQuantity : ReturnableQuantityType
  element RevisedForecastLineID : RevisedForecastLineIDType
  element RevisionDate : RevisionDateType
  element RevisionStatusCode : RevisionStatusCodeType
  element RevisionTime : RevisionTimeType
  element RoamingPartnerName : RoamingPartnerNameType
  element RoleCode : RoleCodeType
  element RoleDescription : RoleDescriptionType
  element Room : RoomType
  element RoundingAmount : RoundingAmountType
  element SalesOrderID : SalesOrderIDType
  element SalesOrderLineID : SalesOrderLineIDType
  element SchemeURI : SchemeURIType
  element SealIssuerTypeCode : SealIssuerTypeCodeType
  element SealStatusCode : SealStatusCodeType
  element SealingPartyType : SealingPartyTypeType
  element SecurityClassificationCode : SecurityClassificationCodeType
  element SecurityID : SecurityIDType
  element SellerEventID : SellerEventIDType
  element SequenceID : SequenceIDType
  element SequenceNumberID : SequenceNumberIDType
  element SequenceNumeric : SequenceNumericType
  element SerialID : SerialIDType
  element ServiceInformationPreferenceCode : ServiceInformationPreferenceCodeType
  element ServiceName : ServiceNameType
  element ServiceNumberCalled : ServiceNumberCalledType
  element ServiceType : ServiceTypeType
  element ServiceTypeCode : ServiceTypeCodeType
  element SettlementDiscountAmount : SettlementDiscountAmountType
  element SettlementDiscountPercent : SettlementDiscountPercentType
  element SharesNumberQuantity : SharesNumberQuantityType
  element ShippingMarks : ShippingMarksType
  element ShippingOrderID : ShippingOrderIDType
  element ShippingPriorityLevelCode : ShippingPriorityLevelCodeType
  element ShipsRequirements : ShipsRequirementsType
  element ShortQuantity : ShortQuantityType
  element ShortageActionCode : ShortageActionCodeType
  element SignatureID : SignatureIDType
  element SignatureMethod : SignatureMethodType
  element SizeTypeCode : SizeTypeCodeType
  element SoleProprietorshipIndicator : SoleProprietorshipIndicatorType
  element SourceCurrencyBaseRate : SourceCurrencyBaseRateType
  element SourceCurrencyCode : SourceCurrencyCodeType
  element SourceForecastIssueDate : SourceForecastIssueDateType
  element SourceForecastIssueTime : SourceForecastIssueTimeType
  element SourceValueMeasure : SourceValueMeasureType
  element SpecialInstructions : SpecialInstructionsType
  element SpecialSecurityIndicator : SpecialSecurityIndicatorType
  element SpecialServiceInstructions : SpecialServiceInstructionsType
  element SpecialTerms : SpecialTermsType
  element SpecialTransportRequirements : SpecialTransportRequirementsType
  element SpecificationID : SpecificationIDType
  element SpecificationTypeCode : SpecificationTypeCodeType
  element SplitConsignmentIndicator : SplitConsignmentIndicatorType
  element StartDate : StartDateType
  element StartTime : StartTimeType
  element StatementTypeCode : StatementTypeCodeType
  element StatusAvailableIndicator : StatusAvailableIndicatorType
  element StatusCode : StatusCodeType
  element StatusReason : StatusReasonType
  element StatusReasonCode : StatusReasonCodeType
  element StreetName : StreetNameType
  element SubcontractingConditionsCode : SubcontractingConditionsCodeType
  element SubmissionDate : SubmissionDateType
  element SubmissionDueDate : SubmissionDueDateType
  element SubmissionMethodCode : SubmissionMethodCodeType
  element SubscriberID : SubscriberIDType
  element SubscriberType : SubscriberTypeType
  element SubscriberTypeCode : SubscriberTypeCodeType
  element SubstitutionStatusCode : SubstitutionStatusCodeType
  element SuccessiveSequenceID : SuccessiveSequenceIDType
  element SummaryDescription : SummaryDescriptionType
  element SupplierAssignedAccountID : SupplierAssignedAccountIDType
  element SupplyChainActivityTypeCode : SupplyChainActivityTypeCodeType
  element TareWeightMeasure : TareWeightMeasureType
  element TargetCurrencyBaseRate : TargetCurrencyBaseRateType
  element TargetCurrencyCode : TargetCurrencyCodeType
  element TargetInventoryQuantity : TargetInventoryQuantityType
  element TargetServicePercent : TargetServicePercentType
  element TariffClassCode : TariffClassCodeType
  element TariffCode : TariffCodeType
  element TariffDescription : TariffDescriptionType
  element TaxAmount : TaxAmountType
  element TaxCurrencyCode : TaxCurrencyCodeType
  element TaxEnergyAmount : TaxEnergyAmountType
  element TaxEnergyBalanceAmount : TaxEnergyBalanceAmountType
  element TaxEnergyOnAccountAmount : TaxEnergyOnAccountAmountType
  element TaxEvidenceIndicator : TaxEvidenceIndicatorType
  element TaxExclusiveAmount : TaxExclusiveAmountType
  element TaxExemptionReason : TaxExemptionReasonType
  element TaxExemptionReasonCode : TaxExemptionReasonCodeType
  element TaxIncludedIndicator : TaxIncludedIndicatorType
  element TaxInclusiveAmount : TaxInclusiveAmountType
  element TaxLevelCode : TaxLevelCodeType
  element TaxPointDate : TaxPointDateType
  element TaxTypeCode : TaxTypeCodeType
  element TaxableAmount : TaxableAmountType
  element TechnicalCommitteeDescription : TechnicalCommitteeDescriptionType
  element TechnicalName : TechnicalNameType
  element TelecommunicationsServiceCall : TelecommunicationsServiceCallType
  element TelecommunicationsServiceCallCode : TelecommunicationsServiceCallCodeType
  element TelecommunicationsServiceCategory : TelecommunicationsServiceCategoryType
  element TelecommunicationsServiceCategoryCode : TelecommunicationsServiceCategoryCodeType
  element TelecommunicationsSupplyType : TelecommunicationsSupplyTypeType
  element TelecommunicationsSupplyTypeCode : TelecommunicationsSupplyTypeCodeType
  element Telefax : TelefaxType
  element Telephone : TelephoneType
  element TenderEnvelopeID : TenderEnvelopeIDType
  element TenderEnvelopeTypeCode : TenderEnvelopeTypeCodeType
  element TenderResultCode : TenderResultCodeType
  element TenderTypeCode : TenderTypeCodeType
  element TendererRequirementTypeCode : TendererRequirementTypeCodeType
  element TendererRoleCode : TendererRoleCodeType
  element TestMethod : TestMethodType
  element Text : TextType
  element ThirdPartyPayerIndicator : ThirdPartyPayerIndicatorType
  element ThresholdAmount : ThresholdAmountType
  element ThresholdQuantity : ThresholdQuantityType
  element ThresholdValueComparisonCode : ThresholdValueComparisonCodeType
  element TierRange : TierRangeType
  element TierRatePercent : TierRatePercentType
  element TimeAmount : TimeAmountType
  element TimeDeltaDaysQuantity : TimeDeltaDaysQuantityType
  element TimeFrequencyCode : TimeFrequencyCodeType
  element TimezoneOffset : TimezoneOffsetType
  element TimingComplaint : TimingComplaintType
  element TimingComplaintCode : TimingComplaintCodeType
  element Title : TitleType
  element ToOrderIndicator : ToOrderIndicatorType
  element TotalAmount : TotalAmountType
  element TotalBalanceAmount : TotalBalanceAmountType
  element TotalConsumedQuantity : TotalConsumedQuantityType
  element TotalCreditAmount : TotalCreditAmountType
  element TotalDebitAmount : TotalDebitAmountType
  element TotalDeliveredQuantity : TotalDeliveredQuantityType
  element TotalGoodsItemQuantity : TotalGoodsItemQuantityType
  element TotalInvoiceAmount : TotalInvoiceAmountType
  element TotalMeteredQuantity : TotalMeteredQuantityType
  element TotalPackageQuantity : TotalPackageQuantityType
  element TotalPackagesQuantity : TotalPackagesQuantityType
  element TotalPaymentAmount : TotalPaymentAmountType
  element TotalTaskAmount : TotalTaskAmountType
  element TotalTaxAmount : TotalTaxAmountType
  element TotalTransportHandlingUnitQuantity : TotalTransportHandlingUnitQuantityType
  element TraceID : TraceIDType
  element TrackingDeviceCode : TrackingDeviceCodeType
  element TrackingID : TrackingIDType
  element TradeItemPackingLabelingTypeCode : TradeItemPackingLabelingTypeCodeType
  element TradeServiceCode : TradeServiceCodeType
  element TradingRestrictions : TradingRestrictionsType
  element TrainID : TrainIDType
  element TransactionCurrencyTaxAmount : TransactionCurrencyTaxAmountType
  element TransitDirectionCode : TransitDirectionCodeType
  element TransportAuthorizationCode : TransportAuthorizationCodeType
  element TransportEmergencyCardCode : TransportEmergencyCardCodeType
  element TransportEquipmentTypeCode : TransportEquipmentTypeCodeType
  element TransportEventTypeCode : TransportEventTypeCodeType
  element TransportExecutionPlanReferenceID : TransportExecutionPlanReferenceIDType
  element TransportExecutionStatusCode : TransportExecutionStatusCodeType
  element TransportHandlingUnitTypeCode : TransportHandlingUnitTypeCodeType
  element TransportMeansTypeCode : TransportMeansTypeCodeType
  element TransportModeCode : TransportModeCodeType
  element TransportServiceCode : TransportServiceCodeType
  element TransportServiceProviderRemarks : TransportServiceProviderRemarksType
  element TransportServiceProviderSpecialTerms : TransportServiceProviderSpecialTermsType
  element TransportUserRemarks : TransportUserRemarksType
  element TransportUserSpecialTerms : TransportUserSpecialTermsType
  element TransportationServiceDescription : TransportationServiceDescriptionType
  element TransportationServiceDetailsURI : TransportationServiceDetailsURIType
  element TransportationStatusTypeCode : TransportationStatusTypeCodeType
  element TypeCode : TypeCodeType
  element UBLVersionID : UBLVersionIDType
  element UNDGCode : UNDGCodeType
  element URI : URIType
  element UUID : UUIDType
  element UnknownPriceIndicator : UnknownPriceIndicatorType
  element UpperOrangeHazardPlacardID : UpperOrangeHazardPlacardIDType
  element UrgencyCode : UrgencyCodeType
  element UtilityStatementTypeCode : UtilityStatementTypeCodeType
  element ValidateProcess : ValidateProcessType
  element ValidateTool : ValidateToolType
  element ValidateToolVersion : ValidateToolVersionType
  element ValidationDate : ValidationDateType
  element ValidationResultCode : ValidationResultCodeType
  element ValidationTime : ValidationTimeType
  element ValidatorID : ValidatorIDType
  element ValidityStartDate : ValidityStartDateType
  element Value : ValueType
  element ValueAmount : ValueAmountType
  element ValueMeasure : ValueMeasureType
  element ValueQualifier : ValueQualifierType
  element ValueQuantity : ValueQuantityType
  element VarianceQuantity : VarianceQuantityType
  element VariantConstraintIndicator : VariantConstraintIndicatorType
  element VariantID : VariantIDType
  element VersionID : VersionIDType
  element VesselID : VesselIDType
  element VesselName : VesselNameType
  element WarrantyInformation : WarrantyInformationType
  element WebsiteURI : WebsiteURIType
  element WeekDayCode : WeekDayCodeType
  element Weight : WeightType
  element WeightNumeric : WeightNumericType
  element WeightingAlgorithmCode : WeightingAlgorithmCodeType
  element WorkPhase : WorkPhaseType
  element WorkPhaseCode : WorkPhaseCodeType
  element XPath : XPathType
  type AcceptedIndicatorType extends udt:IndicatorType
  type AcceptedVariantsDescriptionType extends udt:TextType
  type AccountFormatCodeType extends udt:CodeType
  type AccountIDType extends udt:IdentifierType
  type AccountTypeCodeType extends udt:CodeType
  type AccountingCostCodeType extends udt:CodeType
  type AccountingCostType extends udt:TextType
  type ActionCodeType extends udt:CodeType
  type ActivityTypeCodeType extends udt:CodeType
  type ActivityTypeType extends udt:TextType
  type ActualDeliveryDateType extends udt:DateType
  type ActualDeliveryTimeType extends udt:TimeType
  type ActualDespatchDateType extends udt:DateType
  type ActualDespatchTimeType extends udt:TimeType
  type ActualPickupDateType extends udt:DateType
  type ActualPickupTimeType extends udt:TimeType
  type ActualTemperatureReductionQuantityType extends udt:QuantityType
  type AdValoremIndicatorType extends udt:IndicatorType
  type AdditionalAccountIDType extends udt:IdentifierType
  type AdditionalConditionsType extends udt:TextType
  type AdditionalInformationType extends udt:TextType
  type AdditionalStreetNameType extends udt:NameType
  type AddressFormatCodeType extends udt:CodeType
  type AddressTypeCodeType extends udt:CodeType
  type AdjustmentReasonCodeType extends udt:CodeType
  type AdmissionCodeType extends udt:CodeType
  type AdvertisementAmountType extends udt:AmountType
  type AgencyIDType extends udt:IdentifierType
  type AgencyNameType extends udt:TextType
  type AirFlowPercentType extends udt:PercentType
  type AircraftIDType extends udt:IdentifierType
  type AliasNameType extends udt:NameType
  type AllowanceChargeReasonCodeType extends udt:CodeType
  type AllowanceChargeReasonType extends udt:TextType
  type AllowanceTotalAmountType extends udt:AmountType
  type AltitudeMeasureType extends udt:MeasureType
  type AmountRateType extends udt:RateType
  type AmountType extends udt:AmountType
  type AnimalFoodApprovedIndicatorType extends udt:IndicatorType
  type AnimalFoodIndicatorType extends udt:IndicatorType
  type AnnualAverageAmountType extends udt:AmountType
  type ApplicationStatusCodeType extends udt:CodeType
  type ApprovalDateType extends udt:DateType
  type ApprovalStatusType extends udt:TextType
  type AttributeIDType extends udt:IdentifierType
  type AuctionConstraintIndicatorType extends udt:IndicatorType
  type AuctionURIType extends udt:IdentifierType
  type AvailabilityDateType extends udt:DateType
  type AvailabilityStatusCodeType extends udt:CodeType
  type AverageAmountType extends udt:AmountType
  type AverageSubsequentContractAmountType extends udt:AmountType
  type AwardDateType extends udt:DateType
  type AwardTimeType extends udt:TimeType
  type AwardingCriterionDescriptionType extends udt:TextType
  type AwardingCriterionIDType extends udt:IdentifierType
  type AwardingCriterionTypeCodeType extends udt:CodeType
  type AwardingMethodTypeCodeType extends udt:CodeType
  type BackOrderAllowedIndicatorType extends udt:IndicatorType
  type BackorderQuantityType extends udt:QuantityType
  type BackorderReasonType extends udt:TextType
  type BalanceAmountType extends udt:AmountType
  type BalanceBroughtForwardIndicatorType extends udt:IndicatorType
  type BarcodeSymbologyIDType extends udt:IdentifierType
  type BaseAmountType extends udt:AmountType
  type BaseQuantityType extends udt:QuantityType
  type BaseUnitMeasureType extends udt:MeasureType
  type BasedOnConsensusIndicatorType extends udt:IndicatorType
  type BasicConsumedQuantityType extends udt:QuantityType
  type BatchQuantityType extends udt:QuantityType
  type BestBeforeDateType extends udt:DateType
  type BindingOnBuyerIndicatorType extends udt:IndicatorType
  type BirthDateType extends udt:DateType
  type BirthplaceNameType extends udt:TextType
  type BlockNameType extends udt:NameType
  type BrandNameType extends udt:NameType
  type BrokerAssignedIDType extends udt:IdentifierType
  type BudgetYearNumericType extends udt:NumericType
  type BuildingNameType extends udt:NameType
  type BuildingNumberType extends udt:TextType
  type BulkCargoIndicatorType extends udt:IndicatorType
  type BusinessClassificationEvidenceIDType extends udt:IdentifierType
  type BusinessIdentityEvidenceIDType extends udt:IdentifierType
  type BuyerEventIDType extends udt:IdentifierType
  type BuyerProfileURIType extends udt:IdentifierType
  type BuyerReferenceType extends udt:TextType
  type CV2IDType extends udt:IdentifierType
  type CalculationExpressionCodeType extends udt:CodeType
  type CalculationExpressionType extends udt:TextType
  type CalculationMethodCodeType extends udt:CodeType
  type CalculationRateType extends udt:RateType
  type CalculationSequenceNumericType extends udt:NumericType
  type CallBaseAmountType extends udt:AmountType
  type CallDateType extends udt:DateType
  type CallExtensionAmountType extends udt:AmountType
  type CallTimeType extends udt:TimeType
  type CancellationNoteType extends udt:TextType
  type CandidateReductionConstraintIndicatorType extends udt:IndicatorType
  type CandidateStatementType extends udt:TextType
  type CanonicalizationMethodType extends udt:TextType
  type CapabilityTypeCodeType extends udt:CodeType
  type CardChipCodeType extends udt:CodeType
  type CardTypeCodeType extends udt:CodeType
  type CargoTypeCodeType extends udt:CodeType
  type CarrierAssignedIDType extends udt:IdentifierType
  type CarrierServiceInstructionsType extends udt:TextType
  type CatalogueIndicatorType extends udt:IndicatorType
  type CategoryNameType extends udt:NameType
  type CertificateTypeCodeType extends udt:CodeType
  type CertificateTypeType extends udt:TextType
  type ChangeConditionsType extends udt:TextType
  type ChannelCodeType extends udt:CodeType
  type ChannelType extends udt:TextType
  type CharacterSetCodeType extends udt:CodeType
  type CharacteristicsType extends udt:TextType
  type ChargeIndicatorType extends udt:IndicatorType
  type ChargeTotalAmountType extends udt:AmountType
  type ChargeableQuantityType extends udt:QuantityType
  type ChargeableWeightMeasureType extends udt:MeasureType
  type ChildConsignmentQuantityType extends udt:QuantityType
  type ChipApplicationIDType extends udt:IdentifierType
  type CityNameType extends udt:NameType
  type CitySubdivisionNameType extends udt:NameType
  type CodeValueType extends udt:TextType
  type CollaborationPriorityCodeType extends udt:CodeType
  type CommentType extends udt:TextType
  type CommodityCodeType extends udt:CodeType
  type CompanyIDType extends udt:IdentifierType
  type CompanyLegalFormCodeType extends udt:CodeType
  type CompanyLegalFormType extends udt:TextType
  type CompanyLiquidationStatusCodeType extends udt:CodeType
  type ComparedValueMeasureType extends udt:MeasureType
  type ComparisonDataCodeType extends udt:CodeType
  type ComparisonDataSourceCodeType extends udt:CodeType
  type ComparisonForecastIssueDateType extends udt:DateType
  type ComparisonForecastIssueTimeType extends udt:TimeType
  type CompletionIndicatorType extends udt:IndicatorType
  type ConditionCodeType extends udt:CodeType
  type ConditionType extends udt:TextType
  type ConditionsDescriptionType extends udt:TextType
  type ConditionsType extends udt:TextType
  type ConsigneeAssignedIDType extends udt:IdentifierType
  type ConsignmentQuantityType extends udt:QuantityType
  type ConsignorAssignedIDType extends udt:IdentifierType
  type ConsolidatableIndicatorType extends udt:IndicatorType
  type ConstitutionCodeType extends udt:CodeType
  type ConsumerIncentiveTacticTypeCodeType extends udt:CodeType
  type ConsumerUnitQuantityType extends udt:QuantityType
  type ConsumersEnergyLevelCodeType extends udt:CodeType
  type ConsumersEnergyLevelType extends udt:TextType
  type ConsumptionEnergyQuantityType extends udt:QuantityType
  type ConsumptionIDType extends udt:IdentifierType
  type ConsumptionLevelCodeType extends udt:CodeType
  type ConsumptionLevelType extends udt:TextType
  type ConsumptionReportIDType extends udt:IdentifierType
  type ConsumptionTypeCodeType extends udt:CodeType
  type ConsumptionTypeType extends udt:TextType
  type ConsumptionWaterQuantityType extends udt:QuantityType
  type ContainerizedIndicatorType extends udt:IndicatorType
  type ContentType extends udt:TextType
  type ContentUnitQuantityType extends udt:QuantityType
  type ContractFolderIDType extends udt:IdentifierType
  type ContractNameType extends udt:TextType
  type ContractSubdivisionType extends udt:TextType
  type ContractTypeCodeType extends udt:CodeType
  type ContractTypeType extends udt:TextType
  type ContractedCarrierAssignedIDType extends udt:IdentifierType
  type ContractingSystemCodeType extends udt:CodeType
  type CoordinateSystemCodeType extends udt:CodeType
  type CopyIndicatorType extends udt:IndicatorType
  type CorporateRegistrationTypeCodeType extends udt:CodeType
  type CorporateStockAmountType extends udt:AmountType
  type CorrectionAmountType extends udt:AmountType
  type CorrectionTypeCodeType extends udt:CodeType
  type CorrectionTypeType extends udt:TextType
  type CorrectionUnitAmountType extends udt:AmountType
  type CountrySubentityCodeType extends udt:CodeType
  type CountrySubentityType extends udt:TextType
  type CreditLineAmountType extends udt:AmountType
  type CreditNoteTypeCodeType extends udt:CodeType
  type CreditedQuantityType extends udt:QuantityType
  type CrewQuantityType extends udt:QuantityType
  type CurrencyCodeType extends udt:CodeType
  type CurrentChargeTypeCodeType extends udt:CodeType
  type CurrentChargeTypeType extends udt:TextType
  type CustomerAssignedAccountIDType extends udt:IdentifierType
  type CustomerReferenceType extends udt:TextType
  type CustomizationIDType extends udt:IdentifierType
  type CustomsClearanceServiceInstructionsType extends udt:TextType
  type CustomsImportClassifiedIndicatorType extends udt:IndicatorType
  type CustomsStatusCodeType extends udt:CodeType
  type CustomsTariffQuantityType extends udt:QuantityType
  type DamageRemarksType extends udt:TextType
  type DangerousGoodsApprovedIndicatorType extends udt:IndicatorType
  type DataSendingCapabilityType extends udt:TextType
  type DataSourceCodeType extends udt:CodeType
  type DateType extends udt:DateType
  type DebitLineAmountType extends udt:AmountType
  type DebitedQuantityType extends udt:QuantityType
  type DeclarationTypeCodeType extends udt:CodeType
  type DeclaredCarriageValueAmountType extends udt:AmountType
  type DeclaredCustomsValueAmountType extends udt:AmountType
  type DeclaredForCarriageValueAmountType extends udt:AmountType
  type DeclaredStatisticsValueAmountType extends udt:AmountType
  type DeliveredQuantityType extends udt:QuantityType
  type DeliveryInstructionsType extends udt:TextType
  type DemurrageInstructionsType extends udt:TextType
  type DepartmentType extends udt:TextType
  type DescriptionCodeType extends udt:CodeType
  type DescriptionType extends udt:TextType
  type DespatchAdviceTypeCodeType extends udt:CodeType
  type DifferenceTemperatureReductionQuantityType extends udt:QuantityType
  type DirectionCodeType extends udt:CodeType
  type DisplayTacticTypeCodeType extends udt:CodeType
  type DispositionCodeType extends udt:CodeType
  type DistrictType extends udt:TextType
  type DocumentCurrencyCodeType extends udt:CodeType
  type DocumentDescriptionType extends udt:TextType
  type DocumentHashType extends udt:TextType
  type DocumentIDType extends udt:IdentifierType
  type DocumentStatusCodeType extends udt:CodeType
  type DocumentStatusReasonCodeType extends udt:CodeType
  type DocumentStatusReasonDescriptionType extends udt:TextType
  type DocumentTypeCodeType extends udt:CodeType
  type DocumentTypeType extends udt:TextType
  type DocumentationFeeAmountType extends udt:AmountType
  type DueDateType extends udt:DateType
  type DurationMeasureType extends udt:MeasureType
  type DutyCodeType extends udt:CodeType
  type DutyType extends udt:TextType
  type EarliestPickupDateType extends udt:DateType
  type EarliestPickupTimeType extends udt:TimeType
  type EconomicOperatorRegistryURIType extends udt:IdentifierType
  type EffectiveDateType extends udt:DateType
  type EffectiveTimeType extends udt:TimeType
  type ElectronicDeviceDescriptionType extends udt:TextType
  type ElectronicMailType extends udt:TextType
  type EmbeddedDocumentBinaryObjectType extends udt:BinaryObjectType
  type EmergencyProceduresCodeType extends udt:CodeType
  type EmployeeQuantityType extends udt:QuantityType
  type EncodingCodeType extends udt:CodeType
  type EndDateType extends udt:DateType
  type EndTimeType extends udt:TimeType
  type EndpointIDType extends udt:IdentifierType
  type EnvironmentalEmissionTypeCodeType extends udt:CodeType
  type EstimatedAmountType extends udt:AmountType
  type EstimatedConsumedQuantityType extends udt:QuantityType
  type EstimatedDeliveryDateType extends udt:DateType
  type EstimatedDeliveryTimeType extends udt:TimeType
  type EstimatedDespatchDateType extends udt:DateType
  type EstimatedDespatchTimeType extends udt:TimeType
  type EstimatedOverallContractAmountType extends udt:AmountType
  type EstimatedOverallContractQuantityType extends udt:QuantityType
  type EvaluationCriterionTypeCodeType extends udt:CodeType
  type EvidenceTypeCodeType extends udt:CodeType
  type ExceptionResolutionCodeType extends udt:CodeType
  type ExceptionStatusCodeType extends udt:CodeType
  type ExchangeMarketIDType extends udt:IdentifierType
  type ExclusionReasonType extends udt:TextType
  type ExecutionRequirementCodeType extends udt:CodeType
  type ExemptionReasonCodeType extends udt:CodeType
  type ExemptionReasonType extends udt:TextType
  type ExpectedOperatorQuantityType extends udt:QuantityType
  type ExpectedQuantityType extends udt:QuantityType
  type ExpenseCodeType extends udt:CodeType
  type ExpiryDateType extends udt:DateType
  type ExpiryTimeType extends udt:TimeType
  type ExpressionCodeType extends udt:CodeType
  type ExpressionType extends udt:TextType
  type ExtendedIDType extends udt:IdentifierType
  type ExtensionType extends udt:TextType
  type FaceValueAmountType extends udt:AmountType
  type FamilyNameType extends udt:NameType
  type FeatureTacticTypeCodeType extends udt:CodeType
  type FeeAmountType extends udt:AmountType
  type FeeDescriptionType extends udt:TextType
  type FileNameType extends udt:NameType
  type FinancingInstrumentCodeType extends udt:CodeType
  type FirstNameType extends udt:NameType
  type FirstShipmentAvailibilityDateType extends udt:DateType
  type FloorType extends udt:TextType
  type FollowupContractIndicatorType extends udt:IndicatorType
  type ForecastPurposeCodeType extends udt:CodeType
  type ForecastTypeCodeType extends udt:CodeType
  type FormatCodeType extends udt:CodeType
  type ForwarderServiceInstructionsType extends udt:TextType
  type FreeOfChargeIndicatorType extends udt:IndicatorType
  type FreeOnBoardValueAmountType extends udt:AmountType
  type FreightForwarderAssignedIDType extends udt:IdentifierType
  type FreightRateClassCodeType extends udt:CodeType
  type FrequencyType extends udt:TextType
  type FrozenDocumentIndicatorType extends udt:IndicatorType
  type FrozenPeriodDaysNumericType extends udt:NumericType
  type FullnessIndicationCodeType extends udt:CodeType
  type FullyPaidSharesIndicatorType extends udt:IndicatorType
  type FundingProgramCodeType extends udt:CodeType
  type FundingProgramType extends udt:TextType
  type GasPressureQuantityType extends udt:QuantityType
  type GenderCodeType extends udt:CodeType
  type GeneralCargoIndicatorType extends udt:IndicatorType
  type GovernmentAgreementConstraintIndicatorType extends udt:IndicatorType
  type GrossTonnageMeasureType extends udt:MeasureType
  type GrossVolumeMeasureType extends udt:MeasureType
  type GrossWeightMeasureType extends udt:MeasureType
  type GuaranteeTypeCodeType extends udt:CodeType
  type GuaranteedDespatchDateType extends udt:DateType
  type GuaranteedDespatchTimeType extends udt:TimeType
  type HandlingCodeType extends udt:CodeType
  type HandlingInstructionsType extends udt:TextType
  type HashAlgorithmMethodType extends udt:TextType
  type HaulageInstructionsType extends udt:TextType
  type HazardClassIDType extends udt:IdentifierType
  type HazardousCategoryCodeType extends udt:CodeType
  type HazardousRegulationCodeType extends udt:CodeType
  type HazardousRiskIndicatorType extends udt:IndicatorType
  type HeatingTypeCodeType extends udt:CodeType
  type HeatingTypeType extends udt:TextType
  type HigherTenderAmountType extends udt:AmountType
  type HolderNameType extends udt:NameType
  type HumanFoodApprovedIndicatorType extends udt:IndicatorType
  type HumanFoodIndicatorType extends udt:IndicatorType
  type HumidityPercentType extends udt:PercentType
  type IDType extends udt:IdentifierType
  type IdentificationCodeType extends udt:CodeType
  type IdentificationIDType extends udt:IdentifierType
  type ImmobilizationCertificateIDType extends udt:IdentifierType
  type ImportanceCodeType extends udt:CodeType
  type IndicationIndicatorType extends udt:IndicatorType
  type IndustryClassificationCodeType extends udt:CodeType
  type InformationType extends udt:TextType
  type InformationURIType extends udt:IdentifierType
  type InhalationToxicityZoneCodeType extends udt:CodeType
  type InhouseMailType extends udt:TextType
  type InspectionMethodCodeType extends udt:CodeType
  type InstallmentDueDateType extends udt:DateType
  type InstructionIDType extends udt:IdentifierType
  type InstructionNoteType extends udt:TextType
  type InstructionsType extends udt:TextType
  type InsurancePremiumAmountType extends udt:AmountType
  type InsuranceValueAmountType extends udt:AmountType
  type InventoryValueAmountType extends udt:AmountType
  type InvoiceTypeCodeType extends udt:CodeType
  type InvoicedQuantityType extends udt:QuantityType
  type InvoicingPartyReferenceType extends udt:TextType
  type IssueDateType extends udt:DateType
  type IssueNumberIDType extends udt:IdentifierType
  type IssueTimeType extends udt:TimeType
  type IssuerIDType extends udt:IdentifierType
  type ItemClassificationCodeType extends udt:CodeType
  type ItemUpdateRequestIndicatorType extends udt:IndicatorType
  type JobTitleType extends udt:TextType
  type JourneyIDType extends udt:IdentifierType
  type JustificationDescriptionType extends udt:TextType
  type JustificationType extends udt:TextType
  type KeywordType extends udt:TextType
  type LanguageIDType extends udt:IdentifierType
  type LastRevisionDateType extends udt:DateType
  type LastRevisionTimeType extends udt:TimeType
  type LatestDeliveryDateType extends udt:DateType
  type LatestDeliveryTimeType extends udt:TimeType
  type LatestMeterQuantityType extends udt:QuantityType
  type LatestMeterReadingDateType extends udt:DateType
  type LatestMeterReadingMethodCodeType extends udt:CodeType
  type LatestMeterReadingMethodType extends udt:TextType
  type LatestPickupDateType extends udt:DateType
  type LatestPickupTimeType extends udt:TimeType
  type LatestProposalAcceptanceDateType extends udt:DateType
  type LatestSecurityClearanceDateType extends udt:DateType
  type LatitudeDegreesMeasureType extends udt:MeasureType
  type LatitudeDirectionCodeType extends udt:CodeType
  type LatitudeMinutesMeasureType extends udt:MeasureType
  type LeadTimeMeasureType extends udt:MeasureType
  type LegalReferenceType extends udt:TextType
  type LegalStatusIndicatorType extends udt:IndicatorType
  type LiabilityAmountType extends udt:AmountType
  type LicensePlateIDType extends udt:IdentifierType
  type LifeCycleStatusCodeType extends udt:CodeType
  type LimitationDescriptionType extends udt:TextType
  type LineCountNumericType extends udt:NumericType
  type LineExtensionAmountType extends udt:AmountType
  type LineIDType extends udt:IdentifierType
  type LineNumberNumericType extends udt:NumericType
  type LineStatusCodeType extends udt:CodeType
  type LineType extends udt:TextType
  type ListValueType extends udt:TextType
  type LivestockIndicatorType extends udt:IndicatorType
  type LoadingLengthMeasureType extends udt:MeasureType
  type LoadingSequenceIDType extends udt:IdentifierType
  type LocaleCodeType extends udt:CodeType
  type LocationIDType extends udt:IdentifierType
  type LocationType extends udt:TextType
  type LocationTypeCodeType extends udt:CodeType
  type LoginType extends udt:TextType
  type LogoReferenceIDType extends udt:IdentifierType
  type LongitudeDegreesMeasureType extends udt:MeasureType
  type LongitudeDirectionCodeType extends udt:CodeType
  type LongitudeMinutesMeasureType extends udt:MeasureType
  type LossRiskResponsibilityCodeType extends udt:CodeType
  type LossRiskType extends udt:TextType
  type LotNumberIDType extends udt:IdentifierType
  type LowTendersDescriptionType extends udt:TextType
  type LowerOrangeHazardPlacardIDType extends udt:IdentifierType
  type LowerTenderAmountType extends udt:AmountType
  type MandateTypeCodeType extends udt:CodeType
  type ManufactureDateType extends udt:DateType
  type ManufactureTimeType extends udt:TimeType
  type MarkAttentionIndicatorType extends udt:IndicatorType
  type MarkAttentionType extends udt:TextType
  type MarkCareIndicatorType extends udt:IndicatorType
  type MarkCareType extends udt:TextType
  type MarketValueAmountType extends udt:AmountType
  type MarkingIDType extends udt:IdentifierType
  type MathematicOperatorCodeType extends udt:CodeType
  type MaximumAdvertisementAmountType extends udt:AmountType
  type MaximumAmountType extends udt:AmountType
  type MaximumBackorderQuantityType extends udt:QuantityType
  type MaximumCopiesNumericType extends udt:NumericType
  type MaximumMeasureType extends udt:MeasureType
  type MaximumNumberNumericType extends udt:NumericType
  type MaximumOperatorQuantityType extends udt:QuantityType
  type MaximumOrderQuantityType extends udt:QuantityType
  type MaximumPaidAmountType extends udt:AmountType
  type MaximumPaymentInstructionsNumericType extends udt:NumericType
  type MaximumPercentType extends udt:PercentType
  type MaximumQuantityType extends udt:QuantityType
  type MaximumValueType extends udt:TextType
  type MaximumVariantQuantityType extends udt:QuantityType
  type MeasureType extends udt:MeasureType
  type MedicalFirstAidGuideCodeType extends udt:CodeType
  type MeterConstantCodeType extends udt:CodeType
  type MeterConstantType extends udt:TextType
  type MeterNameType extends udt:TextType
  type MeterNumberType extends udt:TextType
  type MeterReadingCommentsType extends udt:TextType
  type MeterReadingTypeCodeType extends udt:CodeType
  type MeterReadingTypeType extends udt:TextType
  type MiddleNameType extends udt:NameType
  type MimeCodeType extends udt:CodeType
  type MinimumAmountType extends udt:AmountType
  type MinimumBackorderQuantityType extends udt:QuantityType
  type MinimumImprovementBidType extends udt:TextType
  type MinimumInventoryQuantityType extends udt:QuantityType
  type MinimumMeasureType extends udt:MeasureType
  type MinimumNumberNumericType extends udt:NumericType
  type MinimumOrderQuantityType extends udt:QuantityType
  type MinimumPercentType extends udt:PercentType
  type MinimumQuantityType extends udt:QuantityType
  type MinimumValueType extends udt:TextType
  type MiscellaneousEventTypeCodeType extends udt:CodeType
  type ModelNameType extends udt:NameType
  type MonetaryScopeType extends udt:TextType
  type MovieTitleType extends udt:TextType
  type MultipleOrderQuantityType extends udt:QuantityType
  type MultiplierFactorNumericType extends udt:NumericType
  type NameCodeType extends udt:CodeType
  type NameSuffixType extends udt:TextType
  type NameType extends udt:NameType
  type NationalityIDType extends udt:IdentifierType
  type NatureCodeType extends udt:CodeType
  type NegotiationDescriptionType extends udt:TextType
  type NetNetWeightMeasureType extends udt:MeasureType
  type NetTonnageMeasureType extends udt:MeasureType
  type NetVolumeMeasureType extends udt:MeasureType
  type NetWeightMeasureType extends udt:MeasureType
  type NetworkIDType extends udt:IdentifierType
  type NominationDateType extends udt:DateType
  type NominationTimeType extends udt:TimeType
  type NormalTemperatureReductionQuantityType extends udt:QuantityType
  type NoteType extends udt:TextType
  type NotificationTypeCodeType extends udt:CodeType
  type OccurrenceDateType extends udt:DateType
  type OccurrenceTimeType extends udt:TimeType
  type OnCarriageIndicatorType extends udt:IndicatorType
  type OneTimeChargeTypeCodeType extends udt:CodeType
  type OneTimeChargeTypeType extends udt:TextType
  type OntologyURIType extends udt:IdentifierType
  type OpenTenderIDType extends udt:IdentifierType
  type OperatingYearsQuantityType extends udt:QuantityType
  type OptionalLineItemIndicatorType extends udt:IndicatorType
  type OptionsDescriptionType extends udt:TextType
  type OrderIntervalDaysNumericType extends udt:NumericType
  type OrderQuantityIncrementNumericType extends udt:NumericType
  type OrderResponseCodeType extends udt:CodeType
  type OrderTypeCodeType extends udt:CodeType
  type OrderableIndicatorType extends udt:IndicatorType
  type OrderableUnitFactorRateType extends udt:RateType
  type OrderableUnitType extends udt:TextType
  type OrganizationDepartmentType extends udt:TextType
  type OriginalContractingSystemIDType extends udt:IdentifierType
  type OriginalJobIDType extends udt:IdentifierType
  type OtherConditionsIndicatorType extends udt:IndicatorType
  type OtherInstructionType extends udt:TextType
  type OtherNameType extends udt:NameType
  type OutstandingQuantityType extends udt:QuantityType
  type OutstandingReasonType extends udt:TextType
  type OversupplyQuantityType extends udt:QuantityType
  type OwnerTypeCodeType extends udt:CodeType
  type PackLevelCodeType extends udt:CodeType
  type PackQuantityType extends udt:QuantityType
  type PackSizeNumericType extends udt:NumericType
  type PackageLevelCodeType extends udt:CodeType
  type PackagingTypeCodeType extends udt:CodeType
  type PackingCriteriaCodeType extends udt:CodeType
  type PackingMaterialType extends udt:TextType
  type PaidAmountType extends udt:AmountType
  type PaidDateType extends udt:DateType
  type PaidTimeType extends udt:TimeType
  type ParentDocumentIDType extends udt:IdentifierType
  type ParentDocumentLineReferenceIDType extends udt:IdentifierType
  type ParentDocumentTypeCodeType extends udt:CodeType
  type ParentDocumentVersionIDType extends udt:IdentifierType
  type PartPresentationCodeType extends udt:CodeType
  type PartecipationPercentType extends udt:PercentType
  type PartialDeliveryIndicatorType extends udt:IndicatorType
  type ParticipationPercentType extends udt:PercentType
  type PartyCapacityAmountType extends udt:AmountType
  type PartyTypeCodeType extends udt:CodeType
  type PartyTypeType extends udt:TextType
  type PassengerQuantityType extends udt:QuantityType
  type PasswordType extends udt:TextType
  type PayPerViewType extends udt:TextType
  type PayableAlternativeAmountType extends udt:AmountType
  type PayableAmountType extends udt:AmountType
  type PayableRoundingAmountType extends udt:AmountType
  type PayerReferenceType extends udt:TextType
  type PaymentAlternativeCurrencyCodeType extends udt:CodeType
  type PaymentChannelCodeType extends udt:CodeType
  type PaymentCurrencyCodeType extends udt:CodeType
  type PaymentDescriptionType extends udt:TextType
  type PaymentDueDateType extends udt:DateType
  type PaymentFrequencyCodeType extends udt:CodeType
  type PaymentIDType extends udt:IdentifierType
  type PaymentMeansCodeType extends udt:CodeType
  type PaymentMeansIDType extends udt:IdentifierType
  type PaymentNoteType extends udt:TextType
  type PaymentOrderReferenceType extends udt:TextType
  type PaymentPercentType extends udt:PercentType
  type PaymentPurposeCodeType extends udt:CodeType
  type PaymentTermsDetailsURIType extends udt:IdentifierType
  type PenaltyAmountType extends udt:AmountType
  type PenaltySurchargePercentType extends udt:PercentType
  type PerUnitAmountType extends udt:AmountType
  type PercentType extends udt:PercentType
  type PerformanceMetricTypeCodeType extends udt:CodeType
  type PerformanceValueQuantityType extends udt:QuantityType
  type PerformingCarrierAssignedIDType extends udt:IdentifierType
  type PersonalSituationType extends udt:TextType
  type PhoneNumberType extends udt:TextType
  type PlacardEndorsementType extends udt:TextType
  type PlacardNotationType extends udt:TextType
  type PlannedDateType extends udt:DateType
  type PlotIdentificationType extends udt:TextType
  type PositionCodeType extends udt:CodeType
  type PostEventNotificationDurationMeasureType extends udt:MeasureType
  type PostalZoneType extends udt:TextType
  type PostboxType extends udt:TextType
  type PowerIndicatorType extends udt:IndicatorType
  type PreCarriageIndicatorType extends udt:IndicatorType
  type PreEventNotificationDurationMeasureType extends udt:MeasureType
  type PreferenceCriterionCodeType extends udt:CodeType
  type PrepaidAmountType extends udt:AmountType
  type PrepaidIndicatorType extends udt:IndicatorType
  type PrepaidPaymentReferenceIDType extends udt:IdentifierType
  type PreviousCancellationReasonCodeType extends udt:CodeType
  type PreviousJobIDType extends udt:IdentifierType
  type PreviousMeterQuantityType extends udt:QuantityType
  type PreviousMeterReadingDateType extends udt:DateType
  type PreviousMeterReadingMethodCodeType extends udt:CodeType
  type PreviousMeterReadingMethodType extends udt:TextType
  type PreviousVersionIDType extends udt:IdentifierType
  type PriceAmountType extends udt:AmountType
  type PriceChangeReasonType extends udt:TextType
  type PriceEvaluationCodeType extends udt:CodeType
  type PriceRevisionFormulaDescriptionType extends udt:TextType
  type PriceTypeCodeType extends udt:CodeType
  type PriceTypeType extends udt:TextType
  type PricingCurrencyCodeType extends udt:CodeType
  type PricingUpdateRequestIndicatorType extends udt:IndicatorType
  type PrimaryAccountNumberIDType extends udt:IdentifierType
  type PrintQualifierType extends udt:TextType
  type PriorityType extends udt:TextType
  type PrivacyCodeType extends udt:CodeType
  type PrizeDescriptionType extends udt:TextType
  type PrizeIndicatorType extends udt:IndicatorType
  type ProcedureCodeType extends udt:CodeType
  type ProcessDescriptionType extends udt:TextType
  type ProcessReasonCodeType extends udt:CodeType
  type ProcessReasonType extends udt:TextType
  type ProcurementSubTypeCodeType extends udt:CodeType
  type ProcurementTypeCodeType extends udt:CodeType
  type ProductTraceIDType extends udt:IdentifierType
  type ProfileExecutionIDType extends udt:IdentifierType
  type ProfileIDType extends udt:IdentifierType
  type ProfileStatusCodeType extends udt:CodeType
  type ProgressPercentType extends udt:PercentType
  type PromotionalEventTypeCodeType extends udt:CodeType
  type ProviderTypeCodeType extends udt:CodeType
  type PublishAwardIndicatorType extends udt:IndicatorType
  type PurposeCodeType extends udt:CodeType
  type PurposeType extends udt:TextType
  type QualityControlCodeType extends udt:CodeType
  type QuantityDiscrepancyCodeType extends udt:CodeType
  type QuantityType extends udt:QuantityType
  type RadioCallSignIDType extends udt:IdentifierType
  type RailCarIDType extends udt:IdentifierType
  type RankType extends udt:TextType
  type RateType extends udt:RateType
  type ReceiptAdviceTypeCodeType extends udt:CodeType
  type ReceivedDateType extends udt:DateType
  type ReceivedElectronicTenderQuantityType extends udt:QuantityType
  type ReceivedForeignTenderQuantityType extends udt:QuantityType
  type ReceivedQuantityType extends udt:QuantityType
  type ReceivedTenderQuantityType extends udt:QuantityType
  type ReferenceDateType extends udt:DateType
  type ReferenceEventCodeType extends udt:CodeType
  type ReferenceIDType extends udt:IdentifierType
  type ReferenceTimeType extends udt:TimeType
  type ReferenceType extends udt:TextType
  type ReferencedConsignmentIDType extends udt:IdentifierType
  type RefrigeratedIndicatorType extends udt:IndicatorType
  type RefrigerationOnIndicatorType extends udt:IndicatorType
  type RegionType extends udt:TextType
  type RegisteredDateType extends udt:DateType
  type RegisteredTimeType extends udt:TimeType
  type RegistrationDateType extends udt:DateType
  type RegistrationExpirationDateType extends udt:DateType
  type RegistrationIDType extends udt:IdentifierType
  type RegistrationNameType extends udt:NameType
  type RegistrationNationalityIDType extends udt:IdentifierType
  type RegistrationNationalityType extends udt:TextType
  type RegulatoryDomainType extends udt:TextType
  type RejectActionCodeType extends udt:CodeType
  type RejectReasonCodeType extends udt:CodeType
  type RejectReasonType extends udt:TextType
  type RejectedQuantityType extends udt:QuantityType
  type RejectionNoteType extends udt:TextType
  type ReleaseIDType extends udt:IdentifierType
  type ReliabilityPercentType extends udt:PercentType
  type RemarksType extends udt:TextType
  type ReminderSequenceNumericType extends udt:NumericType
  type ReminderTypeCodeType extends udt:CodeType
  type ReplenishmentOwnerDescriptionType extends udt:TextType
  type RequestForQuotationLineIDType extends udt:IdentifierType
  type RequestedDeliveryDateType extends udt:DateType
  type RequestedDespatchDateType extends udt:DateType
  type RequestedDespatchTimeType extends udt:TimeType
  type RequestedInvoiceCurrencyCodeType extends udt:CodeType
  type RequestedPublicationDateType extends udt:DateType
  type RequiredCurriculaIndicatorType extends udt:IndicatorType
  type RequiredCustomsIDType extends udt:IdentifierType
  type RequiredDeliveryDateType extends udt:DateType
  type RequiredDeliveryTimeType extends udt:TimeType
  type RequiredFeeAmountType extends udt:AmountType
  type ResidenceTypeCodeType extends udt:CodeType
  type ResidenceTypeType extends udt:TextType
  type ResidentOccupantsNumericType extends udt:NumericType
  type ResolutionCodeType extends udt:CodeType
  type ResolutionDateType extends udt:DateType
  type ResolutionTimeType extends udt:TimeType
  type ResolutionType extends udt:TextType
  type ResponseCodeType extends udt:CodeType
  type ResponseDateType extends udt:DateType
  type ResponseTimeType extends udt:TimeType
  type RetailEventNameType extends udt:NameType
  type RetailEventStatusCodeType extends udt:CodeType
  type ReturnabilityIndicatorType extends udt:IndicatorType
  type ReturnableMaterialIndicatorType extends udt:IndicatorType
  type ReturnableQuantityType extends udt:QuantityType
  type RevisedForecastLineIDType extends udt:IdentifierType
  type RevisionDateType extends udt:DateType
  type RevisionStatusCodeType extends udt:CodeType
  type RevisionTimeType extends udt:TimeType
  type RoamingPartnerNameType extends udt:NameType
  type RoleCodeType extends udt:CodeType
  type RoleDescriptionType extends udt:TextType
  type RoomType extends udt:TextType
  type RoundingAmountType extends udt:AmountType
  type SalesOrderIDType extends udt:IdentifierType
  type SalesOrderLineIDType extends udt:IdentifierType
  type SchemeURIType extends udt:IdentifierType
  type SealIssuerTypeCodeType extends udt:CodeType
  type SealStatusCodeType extends udt:CodeType
  type SealingPartyTypeType extends udt:TextType
  type SecurityClassificationCodeType extends udt:CodeType
  type SecurityIDType extends udt:IdentifierType
  type SellerEventIDType extends udt:IdentifierType
  type SequenceIDType extends udt:IdentifierType
  type SequenceNumberIDType extends udt:IdentifierType
  type SequenceNumericType extends udt:NumericType
  type SerialIDType extends udt:IdentifierType
  type ServiceInformationPreferenceCodeType extends udt:CodeType
  type ServiceNameType extends udt:NameType
  type ServiceNumberCalledType extends udt:TextType
  type ServiceTypeCodeType extends udt:CodeType
  type ServiceTypeType extends udt:TextType
  type SettlementDiscountAmountType extends udt:AmountType
  type SettlementDiscountPercentType extends udt:PercentType
  type SharesNumberQuantityType extends udt:QuantityType
  type ShippingMarksType extends udt:TextType
  type ShippingOrderIDType extends udt:IdentifierType
  type ShippingPriorityLevelCodeType extends udt:CodeType
  type ShipsRequirementsType extends udt:TextType
  type ShortQuantityType extends udt:QuantityType
  type ShortageActionCodeType extends udt:CodeType
  type SignatureIDType extends udt:IdentifierType
  type SignatureMethodType extends udt:TextType
  type SizeTypeCodeType extends udt:CodeType
  type SoleProprietorshipIndicatorType extends udt:IndicatorType
  type SourceCurrencyBaseRateType extends udt:RateType
  type SourceCurrencyCodeType extends udt:CodeType
  type SourceForecastIssueDateType extends udt:DateType
  type SourceForecastIssueTimeType extends udt:TimeType
  type SourceValueMeasureType extends udt:MeasureType
  type SpecialInstructionsType extends udt:TextType
  type SpecialSecurityIndicatorType extends udt:IndicatorType
  type SpecialServiceInstructionsType extends udt:TextType
  type SpecialTermsType extends udt:TextType
  type SpecialTransportRequirementsType extends udt:TextType
  type SpecificationIDType extends udt:IdentifierType
  type SpecificationTypeCodeType extends udt:CodeType
  type SplitConsignmentIndicatorType extends udt:IndicatorType
  type StartDateType extends udt:DateType
  type StartTimeType extends udt:TimeType
  type StatementTypeCodeType extends udt:CodeType
  type StatusAvailableIndicatorType extends udt:IndicatorType
  type StatusCodeType extends udt:CodeType
  type StatusReasonCodeType extends udt:CodeType
  type StatusReasonType extends udt:TextType
  type StreetNameType extends udt:NameType
  type SubcontractingConditionsCodeType extends udt:CodeType
  type SubmissionDateType extends udt:DateType
  type SubmissionDueDateType extends udt:DateType
  type SubmissionMethodCodeType extends udt:CodeType
  type SubscriberIDType extends udt:IdentifierType
  type SubscriberTypeCodeType extends udt:CodeType
  type SubscriberTypeType extends udt:TextType
  type SubstitutionStatusCodeType extends udt:CodeType
  type SuccessiveSequenceIDType extends udt:IdentifierType
  type SummaryDescriptionType extends udt:TextType
  type SupplierAssignedAccountIDType extends udt:IdentifierType
  type SupplyChainActivityTypeCodeType extends udt:CodeType
  type TareWeightMeasureType extends udt:MeasureType
  type TargetCurrencyBaseRateType extends udt:RateType
  type TargetCurrencyCodeType extends udt:CodeType
  type TargetInventoryQuantityType extends udt:QuantityType
  type TargetServicePercentType extends udt:PercentType
  type TariffClassCodeType extends udt:CodeType
  type TariffCodeType extends udt:CodeType
  type TariffDescriptionType extends udt:TextType
  type TaxAmountType extends udt:AmountType
  type TaxCurrencyCodeType extends udt:CodeType
  type TaxEnergyAmountType extends udt:AmountType
  type TaxEnergyBalanceAmountType extends udt:AmountType
  type TaxEnergyOnAccountAmountType extends udt:AmountType
  type TaxEvidenceIndicatorType extends udt:IndicatorType
  type TaxExclusiveAmountType extends udt:AmountType
  type TaxExemptionReasonCodeType extends udt:CodeType
  type TaxExemptionReasonType extends udt:TextType
  type TaxIncludedIndicatorType extends udt:IndicatorType
  type TaxInclusiveAmountType extends udt:AmountType
  type TaxLevelCodeType extends udt:CodeType
  type TaxPointDateType extends udt:DateType
  type TaxTypeCodeType extends udt:CodeType
  type TaxableAmountType extends udt:AmountType
  type TechnicalCommitteeDescriptionType extends udt:TextType
  type TechnicalNameType extends udt:NameType
  type TelecommunicationsServiceCallCodeType extends udt:CodeType
  type TelecommunicationsServiceCallType extends udt:TextType
  type TelecommunicationsServiceCategoryCodeType extends udt:CodeType
  type TelecommunicationsServiceCategoryType extends udt:TextType
  type TelecommunicationsSupplyTypeCodeType extends udt:CodeType
  type TelecommunicationsSupplyTypeType extends udt:TextType
  type TelefaxType extends udt:TextType
  type TelephoneType extends udt:TextType
  type TenderEnvelopeIDType extends udt:IdentifierType
  type TenderEnvelopeTypeCodeType extends udt:CodeType
  type TenderResultCodeType extends udt:CodeType
  type TenderTypeCodeType extends udt:CodeType
  type TendererRequirementTypeCodeType extends udt:CodeType
  type TendererRoleCodeType extends udt:CodeType
  type TestMethodType extends udt:TextType
  type TextType extends udt:TextType
  type ThirdPartyPayerIndicatorType extends udt:IndicatorType
  type ThresholdAmountType extends udt:AmountType
  type ThresholdQuantityType extends udt:QuantityType
  type ThresholdValueComparisonCodeType extends udt:CodeType
  type TierRangeType extends udt:TextType
  type TierRatePercentType extends udt:PercentType
  type TimeAmountType extends udt:TextType
  type TimeDeltaDaysQuantityType extends udt:QuantityType
  type TimeFrequencyCodeType extends udt:CodeType
  type TimezoneOffsetType extends udt:TextType
  type TimingComplaintCodeType extends udt:CodeType
  type TimingComplaintType extends udt:TextType
  type TitleType extends udt:TextType
  type ToOrderIndicatorType extends udt:IndicatorType
  type TotalAmountType extends udt:AmountType
  type TotalBalanceAmountType extends udt:AmountType
  type TotalConsumedQuantityType extends udt:QuantityType
  type TotalCreditAmountType extends udt:AmountType
  type TotalDebitAmountType extends udt:AmountType
  type TotalDeliveredQuantityType extends udt:QuantityType
  type TotalGoodsItemQuantityType extends udt:QuantityType
  type TotalInvoiceAmountType extends udt:AmountType
  type TotalMeteredQuantityType extends udt:QuantityType
  type TotalPackageQuantityType extends udt:QuantityType
  type TotalPackagesQuantityType extends udt:QuantityType
  type TotalPaymentAmountType extends udt:AmountType
  type TotalTaskAmountType extends udt:AmountType
  type TotalTaxAmountType extends udt:AmountType
  type TotalTransportHandlingUnitQuantityType extends udt:QuantityType
  type TraceIDType extends udt:IdentifierType
  type TrackingDeviceCodeType extends udt:CodeType
  type TrackingIDType extends udt:IdentifierType
  type TradeItemPackingLabelingTypeCodeType extends udt:CodeType
  type TradeServiceCodeType extends udt:CodeType
  type TradingRestrictionsType extends udt:TextType
  type TrainIDType extends udt:IdentifierType
  type TransactionCurrencyTaxAmountType extends udt:AmountType
  type TransitDirectionCodeType extends udt:CodeType
  type TransportAuthorizationCodeType extends udt:CodeType
  type TransportEmergencyCardCodeType extends udt:CodeType
  type TransportEquipmentTypeCodeType extends udt:CodeType
  type TransportEventTypeCodeType extends udt:CodeType
  type TransportExecutionPlanReferenceIDType extends udt:IdentifierType
  type TransportExecutionStatusCodeType extends udt:CodeType
  type TransportHandlingUnitTypeCodeType extends udt:CodeType
  type TransportMeansTypeCodeType extends udt:CodeType
  type TransportModeCodeType extends udt:CodeType
  type TransportServiceCodeType extends udt:CodeType
  type TransportServiceProviderRemarksType extends udt:TextType
  type TransportServiceProviderSpecialTermsType extends udt:TextType
  type TransportUserRemarksType extends udt:TextType
  type TransportUserSpecialTermsType extends udt:TextType
  type TransportationServiceDescriptionType extends udt:TextType
  type TransportationServiceDetailsURIType extends udt:IdentifierType
  type TransportationStatusTypeCodeType extends udt:CodeType
  type TypeCodeType extends udt:CodeType
  type UBLVersionIDType extends udt:IdentifierType
  type UNDGCodeType extends udt:CodeType
  type URIType extends udt:IdentifierType
  type UUIDType extends udt:IdentifierType
  type UnknownPriceIndicatorType extends udt:IndicatorType
  type UpperOrangeHazardPlacardIDType extends udt:IdentifierType
  type UrgencyCodeType extends udt:CodeType
  type UtilityStatementTypeCodeType extends udt:CodeType
  type ValidateProcessType extends udt:TextType
  type ValidateToolType extends udt:TextType
  type ValidateToolVersionType extends udt:TextType
  type ValidationDateType extends udt:DateType
  type ValidationResultCodeType extends udt:CodeType
  type ValidationTimeType extends udt:TimeType
  type ValidatorIDType extends udt:IdentifierType
  type ValidityStartDateType extends udt:DateType
  type ValueAmountType extends udt:AmountType
  type ValueMeasureType extends udt:MeasureType
  type ValueQualifierType extends udt:TextType
  type ValueQuantityType extends udt:QuantityType
  type ValueType extends udt:TextType
  type VarianceQuantityType extends udt:QuantityType
  type VariantConstraintIndicatorType extends udt:IndicatorType
  type VariantIDType extends udt:IdentifierType
  type VersionIDType extends udt:IdentifierType
  type VesselIDType extends udt:IdentifierType
  type VesselNameType extends udt:NameType
  type WarrantyInformationType extends udt:TextType
  type WebsiteURIType extends udt:IdentifierType
  type WeekDayCodeType extends udt:CodeType
  type WeightNumericType extends udt:NumericType
  type WeightType extends udt:TextType
  type WeightingAlgorithmCodeType extends udt:CodeType
  type WorkPhaseCodeType extends udt:CodeType
  type WorkPhaseType extends udt:TextType
  type XPathType extends udt:TextType
